<div class="body">
    {{#if page_type '!=' 'default'}}
        {{> components/halothemes/top-body-banner}}
    {{/if}}
    {{#block "hero"}} {{/block}}
    <div class="container_page">
        {{#block "page"}} {{/block}}
    </div>
    {{> components/common/modal}}
</div>
