<div class="previewCart">
    {{#if cart.items.length}}
        <div class="preview-cart-titles">
            <div class="item-info">{{lang 'cart.checkout.item'}}</div>
            <div class="item-price">{{lang 'cart.checkout.price'}}</div>
            <div class="item-qty">{{lang 'cart.checkout.quantity'}}</div>
            <div class="item-total">{{lang 'cart.checkout.total'}}</div>
        </div>
        <ul class="previewCartList">
            {{#each cart.items}}
                <li class="previewCartItem">
                    <div class="item-info">
                        <div class="previewCartItem-image">
                            {{#if type '==' 'GiftCertificate'}}
                                <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                            {{else}}
                                <img src="{{getImage image 'productthumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                            {{/if}}
                        </div>

                        <div class="previewCartItem-name">
                            {{#if brand.name}}
                            <span class="previewCartItem-brand">
                                {{brand.name}}
                            </span>
                            {{/if}}
                            <h6><a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a></h6>
                        </div>

                    </div>

                    <div class="item-price">
                        {{price.formatted}}
                    </div>
                    <div class="item-qty">
                        {{quantity}}
                    </div>
                    <div class="item-total">
                        <strong class="cart-item-value {{#if total_discounted}}price--discounted{{/if}}">{{total.formatted}}</strong>
                        {{#if total_discounted}}
                            <strong class="cart-item-value">{{total_discounted.formatted}}</strong>
                        {{/if}}
                    </div>

                </li>
            {{/each}}
        </ul>
        <div class="preview-cart-total">
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.subtotal'}}:</strong>
            </div>
            <div class="cart-total-value">
                <span>{{cart.sub_total.formatted}}</span>
            </div>
        </div>
        <div class="preview-cart-grand-total">
             <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.grand_total'}}:</strong>
            </div>
            <div class="cart-total-value cart-total-grandTotal">
                <span>{{cart.grand_total.formatted}}</span>
            </div>
        </div>

        <div class="previewCartAction">

            <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                <a href="{{urls.cart}}" class="btn btn-alt">
                    {{lang 'cart.preview.view_cart'}}
                </a>
            </div>

            {{#if cart.show_primary_checkout_button}}
                <div class="previewCartAction-checkout">
                    <a href="{{urls.checkout.single_address}}" class="btn btn-checkout">
                        {{lang 'cart.preview.checkout_now'}}
                    </a>
                </div>
            {{/if}}

            {{#if cart.show_multiple_address_shipping}}
                <div class="previewCartAction-checkoutMultiple">
                    <a href="{{urls.checkout.multiple_address}}">
                        {{lang 'cart.preview.checkout_multiple'}}
                    </a>
                </div>
            {{/if}}

            <!-- {{#if cart.additional_checkout_buttons}}
                <div class="cart-additionalCheckoutButtons">
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/if}} -->

        </div>
    {{else}}
        <div class="previewCart-emptyBody">
            <div class="alert alert-warning text-center">{{lang 'cart.checkout.empty_cart'}}</div>
        </div>
    {{/if}}
</div>
