{{#if theme_settings.bigcommerce_banners }}
    {{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        <div class="banner">
            {{{limit banners.bottom 1}}}
        </div>
    </div>
    {{/if}}
{{/if}}

<footer id="footer-wrapper">
    <section id="main-footer">
    	<div class="newsletter-bg">
        	<div class="container">{{#if settings.show_newsletter_box}} {{> components/common/subscription-form}} {{/if}}</div>
        </div>
        <div class="container">
            <!-- Begin Footer Columns -->
            <div class="footer-columns">
                <div class="column-item first wow fadeIn" data-wow-delay="100ms">
                    <h5>Customer Service</h5>
                    <ul>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p><a href="tel:09 475 0071" class="call-text">09 475 0071</a></p>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <p><a href="mailto:sales@splash.co.nz" class="email-text">sales@splash.co.nz</a></p>
                        </li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="200ms">
                    <h5 class="hidden-xs">Further Info</h5>
                    <ul>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/contact-us/">Contact</a></li>
                        {{#if customer}}
                        <li><a href="/?loyal/">Loyalty Rewards</a></li>
                        {{/if}}
                        <li><a href="/ambassadors/">Ambassadors</a></li>
                        <li><a href="/blog/">Articles & Videos</a></li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="300ms">
                    <h5 class="hidden-xs">&nbsp;</h5>
                    <ul>
                        
                        <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
                        <li><a href="/shipping-returns">Shipping & Returns</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/warranties">Warranties</a></li>
                        <li><a href="/sitemap/">Sitemap</a></li>
                    </ul>
                </div>

                <div class="column-item wow fadeIn" data-wow-delay="400ms">
                    <h5>Follow Us</h5>
                    {{> components/common/social-links}}
                </div>
            </div>
            <!-- End Footer Columns -->


            <!-- Begin Three Columns 
            <div class="bottom-columns">

                <div class="column-item first wow fadeIn" data-wow-delay="100ms">
                    <h5>Shop With Confidence</h5>
                    <p>Sed menenatis pulvinar sem porta an condimentumos</p>
                    {{> components/common/payment-icons}}
                </div>

                <div class="column-item second wow fadeIn" data-wow-delay="200ms">
                    <h5>Secure Shopping</h5>
                    <p>Nam condimentum tellus dapibus an cosmopolis</p>

                        <ul class="footer-ssl-certificate">
                            {{#if theme_settings.show_geotrust_ssl_seal}}
                            <li>{{> components/common/geotrust-ssl-seal}}</li>
                            {{/if}}
                            <li><a href="#"><img src="/product_images/uploaded_images/godaddy-certificate.png" alt=""></a></li>
                            <li><a href="#"><img src="/product_images/uploaded_images/comodo-certificate.png" alt=""></a></li>
                        </ul>

                </div>

                <div class="column-item third wow fadeIn" data-wow-delay="300ms">
                    <h5>Stay Connected</h5>
                    <p>Duis luctus lorem dapibus euismod multricies duomus</p>
                    {{> components/common/social-links}}
                </div>

            </div>
            <!-- End Three Columns -->

        </div>
    </section>
    <div id="bottom-footer">
        <div class="container text-{{theme_settings.copyright_alignment}} wow fadeIn">
            <div class="secure-payment">
                {{> components/common/payment-icons}}
            </div>
            {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright">
                    <p>&copy; {{moment format="YYYY"}} {{settings.store_name}} Limited All Right Reserved.</p>
                </div>
            {{/if}}
            

            {{#if theme_settings.show_powered_by}}
                <div class="powered-by">
                    <p>Website by <a href="http://wearegoose.co.nz">Goose</a>.</p>
                </div>
            {{/if}}
                
        </div>
    </div>
</footer>

<a href="javascript:void(0);" id="back-to-top"><i class="fa fa-angle-up"></i></a>
