<header class="header" role="banner">
	<div class="header-top">
    	<div class="container">
            <div class="header-top-left ">
                <nav class="navUser">
                	<ul>
                    	<li class="hidden-xs hidden-sm"><a href="/about-us"><span>ABOUT US</span></a></li>
                        <!-- <li class="hidden-xs hidden-sm"><a href="/blog"><span>ARTICLES & VIDEOS</span></a></li> -->
                        <li class="hidden-sm hidden-xs"><a href="/ambassadors"><span>AMBASSADORS</span></a></li>
                        <li class="hidden-sm hidden-xs"><a href="/testimonials"><span>TESTIMONIALS</span></a></li>
                        <li class="hidden-sm hidden-xs">
                            <a 
                            {{#if customer}}
                                href="/dealer-information"
                            {{else}} 
                                href="{{urls.auth.login}}">
                            {{/if}}
                            <span>DEALER INFO</span></a> 
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-top-phone">
                    
                    <p>
                        <span>NEED ADVICE?</span><i class="fa fa-phone"></i>
                        
                        <a href="tel:09 475 0071" class="call-text">09 475 0071</a>
                    </p>
            </div>
    	</div>
    </div>
    <div class="header-middle">
		<div class="container">
            <div class="row">
            	<div id="st-trigger-effects" class="col-xs-2 col-sm-1 visible-sm visible-xs">
                    <a data-effect="st-effect-1" href="javascript:void(0);" style="margin:20px 0px;">&nbsp;<svg><use xlink:href="#icon-trigger-bars" /></svg><svg><use xlink:href="#icon-close"></use></svg></a>
                </div>
            	<div class="col-xs-8 col-sm-4 col-md-3">
                    {{#if template_file '===' 'pages/home'}}
                    <h1 class="header-logo animated fadeIn">
                    {{> components/common/store-logo}}
                    </h1> {{else}}
                    <div class="header-logo animated fadeIn">
                        {{> components/common/store-logo}}
                    </div>
                    {{/if}}
                </div>
                {{#if customer}}
            	<div class="col-md-6">
                    <div class="header-middle-right">
                        <div id="quickSearch">
                            {{> components/common/quick-search}}
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="col-md-7">
                    <div class="header-middle-right">
                        <div id="quickSearch">
                            {{> components/common/quick-search}}
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if customer}}
                <div class="col-xs-2 col-sm-3 col-md-3 right-buttons">
                    <div class="header-middle-right">
                        {{#if customer}}
                        <div class="login-link hidden-xs">
                            <a href="{{urls.account.index}}"><i class="fa fa-user"></i><br>ACCOUNT</a>
                        </div>
                        <div class="login-link hidden-xs">
                            <a href="{{urls.auth.logout}}"><i class="fas fa-sign-out-alt"></i><br>LOGOUT</a>
                        </div>
                        {{else}}
                    	<div class="login-link hidden-xs">
                            <a href="{{urls.auth.login}}"><i class="fa fa-key"></i><br>LOGIN</a>
                        </div>
                        {{/if}}
                        <div id="top-cart" class="top-cart">
                            <a data-cart-preview href="javascript:void(0);">
                                <span><svg style="height:32px; width:32px;"><use xlink:href="#shopping-bag"></use></svg><span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span></span><span class="hidden-xs cart-text">CART</span>
                            </a>
                            <div id="cart-preview-dropdown">
                                <div class="triangle-with-shadow"></div>
                                <div class="cart-preview-inner">
                                    {{> components/common/cart-preview}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="col-xs-2 col-sm-2 col-md-2 right-buttons">
                    <div class="header-middle-right">
                        {{#if customer}}
                        <div class="login-link hidden-xs">
                            <a href="{{urls.account.index}}">
                                <i class="fa fa-user"></i>
                                <br>ACCOUNT</a>
                        </div>
                        <div class="login-link hidden-xs">
                            <a href="{{urls.auth.logout}}">
                                <i class="fas fa-sign-out-alt"></i>
                                <br>LOGOUT</a>
                        </div>
                        {{else}}
                        <div class="login-link hidden-xs">
                            <a href="{{urls.auth.login}}">
                                <i class="fa fa-key"></i>
                                <br>LOGIN</a>
                        </div>
                        {{/if}}
                        <div id="top-cart" class="top-cart">
                            <a data-cart-preview href="javascript:void(0);">
                                <span>
                                    <svg style="height:32px; width:32px;">
                                        <use xlink:href="#shopping-bag"></use>
                                    </svg>
                                    <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
                                </span>
                                <span class="hidden-xs cart-text">CART</span>
                            </a>
                            <div id="cart-preview-dropdown">
                                <div class="triangle-with-shadow"></div>
                                <div class="cart-preview-inner">
                                    {{> components/common/cart-preview}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
			</div>
    	</div>
    </div>
    <div class="quickSearch-mobile">
         {{{ snippet "forms_search"}}}
        <form action="{{urls.search}}">
            <fieldset class="form-fieldset">
                <div class="form-field">
                    <label class="is-srOnly" for="search_query">{{lang "search.quick_search.input_label"}}</label>
                    <input class="form-input" data-search-quick name="search_query" id="search_query" data-error-message="{{lang 'search.error.empty_field'}}"
                        placeholder="{{lang 'search.quick_search.input_placeholder'}}" autocomplete="off">
                    <button type="submit">
                        <svg>
                            <use xlink:href="#icon-search"></use>
                        </svg>
                    </button>
                </div>
            </fieldset>
        </form>
        <div class="quickSearchResultsWrap" data-prevent-quick-search-close>
            <section class="quickSearchResults" data-bind="html: results"></section>
        </div>

    </div>
    <div class="navPages-container" id="menu" data-menu>{{> components/common/navigation-menu}}</div>
</header>

{{#if theme_settings.bigcommerce_banners }}
    {{#if banners.top}}
    <div class="banners" data-banner-location="top">
        <div class="banner">
            {{{limit banners.top 1}}}
        </div>
    </div>
    {{/if}}
{{/if}}
<!-- <div class="col-sm-4 col-md-3 hidden-xs">
    <div class="header-middle-right call-box">
        <i class="fa fa-phone"></i>
        <p>
            <span>NEED ADVICE?</span>
            <br>
            <a href="tel:+61-730-535-745" class="call-text">730-535-745</a>
        </p>
    </div>
</div> -->
