<nav class="navPages">
    <ul class="navPages-list">
        {{#each categories}}
            <li class="navPages-item">
                {{> components/common/navigation-list}}
            </li>
        {{/each}}
        <li class="navPages-item">
            <a class="navPages-action" href="/dealers/">Dealers</a>
        </li>
        {{#if customer}}
            <li class="navPages-item">
                <a class="navPages-action" href="/?loyal/">My Rewards</a>
            </li>
        {{/if}}
        {{#unless theme_settings.hide_content_navigation}}
            {{#each pages}}
                {{#if name '===' 'Contact Us'}}
                    <li class="navPages-item navPages-item-page">
                        <a class="navPages-action" href="{{url}}">{{name}}</a>
                    </li>
                 {{/if}}
             {{/each}}
        {{/unless}}

        {{#if settings.account_creation_enabled}}
        <li class="login-register visible-sm visible-xs">
            {{#if customer}}
            <div class="logged-in">{{lang 'Welcome back,'}} <strong>{{customer.name}}. </strong></div>
            <a class="logout-mb" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            {{else}}
            <div class="not-logged">
                <a href="{{urls.auth.login}}">Login</a>
                <!--<a href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>-->
            </div>
            {{/if}}
        </li>
        {{/if}}
    </ul>
</nav>
