<nav class="navUser">
    <ul>

        {{#if settings.phone_number}}
        <li class="hidden-xs hidden-sm" id="need-help-phone">{{> components/halothemes/header-phone-number}}</li>
        {{/if}}

        {{> components/common/currency-selector}}

        {{#if customer.store_credit.value '>' 0}}
        <li class="hidden-xs hidden-sm" id="storeCredit-toggle">
            <a class="navUser-action--storeCredit" data-dropdown="storeCredit-dropdown" data-options="align:bottom" href="{{urls.cart}}">
                <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
            </a>
            <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                <div class="triangle-with-shadow"></div>
                {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
            </div>
        </li>
        {{/if}}

        {{#if customer}}
        <li id="accountDropdown" class="hidden-xs hidden-sm">
            <a class="navUser-action has-dropdown" href="#" data-dropdown="accountSelection" aria-controls="accountSelection" aria-expanded="false"><span>{{lang 'common.account'}}</span><i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu" id="accountSelection" data-dropdown-content aria-hidden="true" tabindex="-1">
                <div class="triangle-with-shadow"></div>
                <li><a href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a></li>
                {{#if settings.returns_enabled}}
                <li><a href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a></li>
                {{/if}}
                <li><a href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a></li>
                <li><a href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a></li>
                <li><a href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a></li>
                <li><a href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a></li>
            </ul>
        </li>
        {{else}}
        <li class="hidden-xs hidden-sm"><a href="{{urls.account.index}}"><span>{{lang 'common.account'}}</span></a></li>
        {{/if}}


        {{#if settings.gift_certificates_enabled}}
        <li class="hidden-xs hidden-sm">
            <a href="{{urls.gift_certificate.purchase}}"><span>{{lang 'common.gift_cert'}}</span></a>
        </li>
        {{/if}}


        {{#if settings.account_creation_enabled}}
        {{#if customer}}
            <li class="logged-in hidden-sm hidden-xs last-child">{{lang 'Welcome back,'}} <strong>{{customer.name}}. </strong><a href="{{urls.auth.logout}}"><span>{{lang 'common.logout'}}</span></a></li>
        {{else}}
            <li class="hidden-sm hidden-xs"><a href="{{urls.auth.login}}"><span>{{lang 'common.login'}}</span></a></li>
            <li class="hidden-sm hidden-xs last-child"><a href="{{urls.auth.create_account}}"><span>{{lang 'common.sign_up'}}</span></a></li>
        {{/if}}
        {{/if}}

        {{#if customer}}
        <li id="mobileAccountSidebar" class="hidden-md hidden-lg"><a data-effect="st-effect-2" class="navUser-action" href="#"><i class="fa fa-user"></i><span>{{lang 'common.account'}}</span></a></li>
        {{else}}
        <li id="mobileAccountSidebar" class="hidden-md hidden-lg"><a data-effect="st-effect-2" href="{{urls.account.index}}"><i class="fa fa-user"></i><span>{{lang 'common.account'}}</span></a></li>
        {{/if}}



    </ul>
</nav>
