<div class="footer-payment-icons">
    <p>Secure Payments:</p>
    {{#if theme_settings.show_accept_visa}}
        <span class="ips icon-card-visa"></span>
    {{/if}}
    {{#if theme_settings.show_accept_mastercard}}
        <span class="ips icon-card-mastercard"></span>
    {{/if}}
    {{#if theme_settings.show_accept_paypal}}
        <span class="ips icon-card-paypal"></span>
    {{/if}}
    {{#if theme_settings.show_accept_discover}}
        <span class="ips icon-card-discover"></span>
    {{/if}}
    {{#if theme_settings.show_accept_amex}}
        <span class="ips icon-card-amex"></span>
    {{/if}}
</div>
