<div class="gr-dropzone" data-gr-zone="dropzone-sizeChart">
    <button id="sizeChart-btn" class="btn btn-sizeChart">Size Chart</button>
    <div id="modal-size-chart-form">
        <div class="sizeChart-table-wrapper">
            <span id="sizeChart-close">X</span>
            <div class="sizeChart-title">Size Chart</div>
            <div class="sizeChart">
                <table>
                    <thead>
                        <tr>
                            <th>Size</th>
                            <th>Small</th>
                            <th>Medium</th>
                            <th>Large</th>
                            <th>XL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Height(cm)</td>
                            <td>170-180</td>
                            <td>175-183</td>
                            <td>180-190</td>
                            <td>185-195</td>
                        </tr>
                        <tr>
                            <td>Weight(kg)</td>
                            <td>65-75</td>
                            <td>75-85</td>
                            <td>80-95</td>
                            <td>95-110</td>
                        </tr>
                        <tr>
                            <td>Chest(cm)</td>
                            <td>85-90</td>
                            <td>90-100</td>
                            <td>95-105</td>
                            <td>100-105</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
