 <ul class="social-icons">
    <div>
        <h5 class="social-icons-title">Scuba</h5>
        <li class="socialLinks-item">
            <a class="icon icon--facebook" href="https://www.facebook.com/splashdive/?__tn__=%2Cd%2CP-R&eid=ARC61PFvx_aO2bmNb0mCkrJoTKYtH5B70Dmq2kzBDlq43yufAJVkMW9GXeDmxoJJ2cGLIf0PVM2ESwTV" target="_blank">
                <svg>
                    <use xlink:href="#icon-facebook" />
                </svg>
            </a>
        </li>
        <li class="socialLinks-item">
            <a class="icon icon--instagram" href="https://www.instagram.com/splashscuba_nz/" target="_blank">
                <svg>
                    <use xlink:href="#icon-instagram" />
                </svg>
            </a>
        </li>
    </div>
    <div>
        <h5 class="social-icons-title">Spear</h5>
        <li class="socialLinks-item">
            <a class="icon icon--facebook" href="https://www.facebook.com/splashspearfishing/" target="_blank">
                <svg>
                    <use xlink:href="#icon-facebook" />
                </svg>
            </a>
        </li>
        <li class="socialLinks-item last-social">
            <a class="icon icon--instagram" href="https://www.instagram.com/splashspearfishing/?hl=en" target="_blank">
                <svg>
                    <use xlink:href="#icon-instagram" />
                </svg>
            </a>
        </li>
    </div>
</ul>

