// =============================================================================
// SEARCH
// =============================================================================

.search-suggestion {
    margin-bottom: spacing("single") + spacing("third");
    >:last-child {
        margin-bottom: 0;
    }
}

.suggestion-title {
    margin-top: 0;
    text-transform: inherit;
}

.advancedSearch-form {
    margin-bottom: spacing("double");
    .form-row {
        margin-bottom: -(spacing("single"));
    }
}

.advancedSearch-separator {
    display: none;
}

.advancedSearch-title {
    margin: 0 0 spacing("single");
    text-transform: inherit;
}

.search-price-range {
    label {
        display: inline;
        // scss-lint:disable SelectorDepth, NestingDepth
        input {
            display: block;
            padding-left: spacing("single");
            @include breakpoint("small") {
                display: inline;
                width: 6rem;
            }
        }
        // scss-lint:disable SelectorDepth, NestingDepth
        span {
            @include breakpoint("small") {
                display: inline;
                padding-left: spacing("single");
                padding-right: spacing("single");
            }
        }
    }
}

.category-suggestion-list {
    @include grid-row($behavior: "nest");
    list-style-type: none;
}

.category-suggestion {
    @include grid-column(4);
    font-size: fontSize("smaller");
}

.search-refine {
    margin-left: spacing("single");
}

.quickSearchMessage {
    font-size: fontSize("largest");
    margin: spacing("single") 0 0;
    text-align: center;
}

#quickSearch > form {
    margin: 0;
    & .form-field {
        margin: 0;
        position: relative;
        width: 100%;
        max-width: 200px;
        height: 38px;
        border-radius: 3px;
        background-color: stencilColor('searchBox-textField-backgroundColor');
        & input#search_query {
            width: 100%;
            height: 100%;
            padding: 0 38px 0 15px;
            border: 0;
            background-color: transparent;
            color: stencilColor('searchBox-textField-color');
            font-size: 13px;
            font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: stencilColor('searchBox-textField-placeholder');
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: stencilColor('searchBox-textField-placeholder');
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: stencilColor('searchBox-textField-placeholder');
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: stencilColor('searchBox-textField-placeholder');
            }
            @media (max-width:1024px) {
                width:94%;
            }
        }
        & button {
            position: absolute;
            top: 0;
            right: 0;
            width: 38px;
            height: 38px;
            padding: 0;
            border: 0;
            transition: none;
            @media (max-width:1024px) {
                right:33px;
            }
            & svg {
                width: 22px;
                padding: 3px;
                height: 100%;
                fill: stencilColor('searchBox-icon-color');
                @media (max-width: 991px) {
                    width: 20px;
                    height: 38px;
                }
            }
            &:hover svg {
                fill: stencilColor('searchBox-icon-colorHover');
            }
        }
    }
}

#quickSearch .quickSearchResultsWrap {
    position: absolute;
    width: 670px;
    min-width: 320px;
    z-index: 99;
    top: auto;
    opacity: 0;
    visibility: hidden;
    @media (max-width: 991px) {
        width: 100%;
        padding-left: 0;
        padding-right: 24px;
        right: auto;
        left: auto;
    }
    &.hasResults {
        opacity: 1;
        visibility: visible;
    }
    &.hasNoResults {
        & .quickSearchResults {
            padding: 15px;
        }
        & .alert {
            margin: 0;
            & .quickSearchMessage {
                margin: 0;
                font-size: fontSize("base");
            }
        }
    }
}

#quickSearch .quickSearchResults {
    background: #fff;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    border: 1px solid #d0d0d0;
    background: #fff;
    padding: 0;
    overflow: hidden;
    max-height: 405px;
    border-radius: 3px;
    @media (max-width: 991px) {
        margin-top: 0;
    }
    & .productItems {
        margin: 0;
    }
    & .productItems > li {
        padding: 0;
        width: 100%;
        list-style: none;
        float: none;
        clear: both;
        padding: 15px;
        overflow: hidden;
        & + li {
            border-top: 1px solid #eaeaea;
        }
        &:hover {
            background: #f5f5f5;
        }
        & article {
            margin: 0;
            padding: 0;
            border: 0;
            & figure {
                float: left;
                width: 20%;
                text-align: center;
                border-radius: 3px;
                margin: 0;
                background-color: #fff;
                & a img {
                    max-height: 70px;
                }
            }
            & figcaption {
                float: left;
                margin: 0;
                text-align: left;
                width: 80%;
                padding-left: 15px;
                & h4 {
                    margin: 0 0 8px;
                    letter-spacing: 0;
                    font-size: 14px;
                    font-family: stencilFontFamily('card-title-font'), Arial, Helvetica, sans-serif;
                    font-weight: stencilFontWeight('card-title-font');
                }
                & .item-price {
                    margin-bottom: 5px;
                    color: stencilColor('basic-price-color');
                    font-size: 14px;
                    font-family: stencilFontFamily('card-title-font');
                    & .price--rrp {
                        color: stencilColor('retail-price-color');
                        margin-right: 5px;
                        & ~ .price--withoutTax {
                            color: stencilColor('sale-price-color');
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    #mobile-search-toggle {
        width: 62px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        & svg {
            width: 20px;
            height: 100%;
            padding: 3px;
            fill: stencilColor('headerTop-textColor');
        }
        & svg:first-child {
            display: none;
        }
        &:hover svg {
            fill: stencilColor('headerTop-textColorHover');
        }
    }
    #quickSearch {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        min-width: 300px;
        z-index: 99;
        padding: 11px 12px 12px;
        background: #fff;
        display: none;
        margin-top: 1px;
        & > form .form-field {
            max-width: 100%;
            height: 38px;
            border: 0;
            background: #eee;
            border-radius: 3px;
            & input#search_query {
                padding-right: 50px;
            }
            & button {
                width: 38px;
                height: 38px;
            }
        }
    }
    header.header.mobile-search-is-open {
        & #mobile-search-toggle {
            & svg:last-child {
                display: none;
            }
            & svg:first-child {
                display: inline-block;
                width: 28px;
            }
            & ~ .navUser > ul > li#quickSearch {
                display: block;
            }
        }
        & #quickSearch {
            display: block;
            top: 0;
        }
    }
}

.page-type-search {
    & .product-pagination.top {
        justify-content: space-between;
        flex-wrap: wrap;
        & .actionBar[data-sort-by] {
            padding-top: 20px;
        }

    }
}

.quickSearch-mobile {
    display: none;
    background-color:#eff2ee;
    justify-content: center;
    padding-top: 5px;
    form {
        width: 90%;
    }
    .form-field {
        position: relative;
        margin-bottom: 10px;
        > button {
            position: absolute;
            background-color: #84b71c;
            top: 1px;
            right: 0;
            width: 34px;
            height: 34px;
            padding: 0;
            border: 0;
            transition: none;
            svg {
                width: 18px;
                height: 100%;
                fill:#fff;
            }
        }
        .form-input {
        background-color: white;
        border:1px solid rgba(0,0,0,0.1);
        border-radius: 3px;
        color: #454545;
        display: block;
        font-family: inherit;
        font-size: 1rem;
        height: 3rem;
        margin: 0;
        padding: 0.75rem 1rem;
        transition: border-color 100ms ease-out;
        width: 100%;
        }
    }
    .quickSearchResultsWrap {
        display:none;
    }
    @media (max-width: 768px) {
        display: flex;
    }

}
