// =============================================================================
// FACET SEARCH (CSS)
// =============================================================================
// Faceted search toggle
// -----------------------------------------------------------------------------
//
// 1. Do not show if viewport is over "medium" breakpoint
//
// -----------------------------------------------------------------------------
.facetedSearch-toggle {
    @include grid-row;
    border: $facetedSearch-toggle-border;
    border-radius: $facetedSearch-toggle-borderRadius;
    border-width: $facetedSearch-toggle-borderWidth;
    display: block;
    margin-bottom: $facetedSearch-toggle-verticalSpacing;
    padding: $facetedSearch-toggle-padding;
    @include breakpoint("medium") {
        // scss-lint:disable ImportantRule
        display: none !important; // 1
    }
    &.is-open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
    }
}

.facetedSearch-toggle-text,
.facetedSearch-toggle-indicator {
    display: block;
    font-weight: normal;
}

.facetedSearch-toggle-text {
    @include grid-column(7);
    padding: 0;
    text-align: left;
}

.facetedSearch-toggle-indicator {
    @include grid-column(5);
    font-weight: bold;
    padding: 0;
    text-align: right;
}

// Faceted search nav list
// -----------------------------------------------------------------------------
//
// 1. Do not show if viewport is over "medium" breakpoint
//
// -----------------------------------------------------------------------------
.facetedSearch-navList {
    display: none;
    @include breakpoint("medium") {
        // scss-lint:disable ImportantRule
        display: block !important; // 1
    }
    &.is-open {
        display: block;
        // scss-lint:disable SelectorDepth, NestingDepth
        .accordion--navList,
        .accordion-block:first-child .accordion-navigation {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    .facetedSearch-toggle + &,
    .sidebarBlock + & {
        margin-top: $facetedSearch-toggle-verticalSpacing;
    }
    .facetedSearch-toggle + &.is-open,
    .sidebarBlock + &.is-open {
        margin-top: -1px;
        @include breakpoint("medium") {
            margin-top: $facetedSearch-toggle-verticalSpacing;
        }
    }
    .navList--inner {
        margin-left: spacing("single");
    }
    .accordion--navList .accordion-navigation-actions {
        top: -2px;
    }
    @media (max-width: 767px) {
        h5.side-module-heading {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 12px;
            font-size: 12px;
        }
        .accordion--navList .accordion-navigation-actions {
            top: 7px;
        }
    }
    .accordion--navList .accordion-indicator {
        visibility: visible;
    }
    & a.toggleLink {
        display: inline-block;
        margin-top: 10px;
        & span.toggleLink-text {
            font-size: 14px;
            font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
        }
    }
}

.facet-quick-heading {
    text-transform: capitalize;
}

.facetedSearch-optionColumns {
    column-count: 3;
    column-gap: 20px;
}

// Faceted search refine filters
// -----------------------------------------------------------------------------
//
// 1. Only show if viewport is over "medium" breakpoint
//
// -----------------------------------------------------------------------------
.facetedSearch-refineFilters {
    display: none;
    @include breakpoint("medium") {
        display: block; // 1
    }
    & ul.inlineList {
        margin-bottom: 10px;
    }
}

#facetedSearch-navList .accordion-content > ul.navList li a {
    border: 0 !important;
    font-size: 14px;
    font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
    color: $anchor-font-color;
    &:hover {
        color: $anchor-font-color-hover;
    }
}

#facetedSearch-navList .accordion-content > ul.navList li a::before {
    position: static;
    display: inline-block;
    vertical-align: -3px;
    margin-right: 3px;
}

#facetedSearch-navList .accordion-content > ul.navList li a:hover span:not(.navList-action-close) {
    border-bottom: 1px solid $anchor-font-color-hover;
}

#facetedSearch-navList .accordion--navList .accordion-block {
    margin: 0 0 30px;
    clear: both;
    &:last-of-type {
        margin-bottom: 0;
    }
    @media (max-width: 767px) {
        margin-bottom: 0;
    }
}

#facetedSearch-navList .form-minMaxRow {
    margin-bottom: 15px;
    & .form-field {
        width: 50%;
    }
}

#facetedSearch-navList .rating--small {
    display: inline;
}
