---
brands:
---

{{#partial "page"}}
<div class="container">
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <h1 class="page-heading">{{lang 'brand.label'}}</h1>
    <ul class="brandGrid">
        {{#each brands}}
            <li class="brand">
                <article class="card {{#if alternate}}card--alternate{{/if}}">
                    <figure class="card-figure">
                        <a href="{{url}}">
                            <img class="card-image" src="{{getImage image 'brand_size' (cdn ../theme_settings.default_image_brand)}}" alt="{{name}}" title="{{name}}">
                        </a>
                    </figure>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{url}}">{{name}}</a>
                        </h4>
                    </div>
                </article>
            </li>
        {{/each}}
    </ul>
    {{> components/common/paginator pagination.brands}}
</main>
</div>
{{/partial}}
{{> layout/base}}
