{{#partial "page"}}
<div class="container">
    <div class="page">

        <main class="page-content" data-cart>
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

            {{> components/cart/page-title}}

            <div data-cart-status>
                {{> components/cart/status-messages}}
            </div>

            {{#if cart.items.length}}
                <div class="loadingOverlay"></div>

                <div data-cart-content>
                    {{> components/cart/content}}
                </div>

                <div data-cart-totals>
                    {{> components/cart/totals}}
                </div>

                {{#if cart.show_primary_checkout_button}}
                    <div class="cart-actions text-right">
                        <a class="btn btn-checkout btn-lg" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">{{lang 'cart.checkout.button'}}</a>
                        {{#if cart.show_multiple_address_shipping}}
                            <a class="checkoutMultiple" href="{{urls.checkout.multiple_address}}">
                                {{lang 'cart.preview.checkout_multiple'}}
                            </a>
                        {{/if}}
                    </div>
                {{else}}
                    <div class="cart-actions">
                        <a class="btn btn-alt" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                    </div>
                {{/if}}

                {{#if cart.additional_checkout_buttons}}
                    <div class="cart-additionalCheckoutButtons">
                        {{#each cart.additional_checkout_buttons}}
                            {{{this}}}
                        {{/each}}
                    </div>
                {{/if}}
            {{else}}
                <div class="alert alert-warning text-center">{{lang 'cart.checkout.empty_cart'}}</div>
            {{/if}}

            {{{snippet 'cart'}}}
        </main>
    </div>
</div>
{{/partial}}
{{> layout/base}}
