---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    <div class="homeHeroBanners">
        <div class="container homeHero-container">
            <div class="homeHeroBanners-slider">
                {{#if carousel}} {{> components/carousel}} {{/if}}
            </div>
            <!-- <div class="homeHeroBanners-promo-banners">
                <div class="homeHeroBanners-promo-banners-banner">
                    <a href="/scuba/">
                        <img src="{{cdn '/assets/img/banner-scuba.jpg'}}" alt="Scuba Gear" />
                    </a>
                </div>
                <div class="homeHeroBanners-promo-banners-banner">
                    <a href="/spearfishing/">
                        <img src="{{cdn '/assets/img/banner-spear.jpg'}}" alt="Spearfishing Gear" />
                    </a>
                </div>
            </div> -->
            <!-- <div class="homeHeroBanners-promo-banner-2">
                    <a title="Cool Power" href="#placeholder_link">
                        <img src="{{cdn '/assets/img/promo-banner-2.jpg'}}" alt="Cool Power" />
                    </a>
                </div>
                <div class="homeHeroBanners-promo-banner-3">
                    test
                </div> -->
        </div>
    </div>
    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}

<div class="main full">
	
    <div class="home-top-box">
        <div class="container">
            <div class="row home-top-box-row">
                <div class="col-sm-3 col-xs-6">
                	<span>
                    	<img src="/product_images/uploaded_images/shipping.png" alt="FREE SHIPPING OVER $40" />
                    	<p>Fast Secure<br>Delivery</p> 
                    </span>
                </div>
                <div class="col-sm-3 col-xs-6">
                	<span>
                        <img src="/product_images/uploaded_images/easy-returns.png" alt="EASY RETURNS" />
                        <p>EASY<br>RETURNS</p>
                    </span>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <a href="/terms-conditions/">
                        <span>
                            <img src="/product_images/uploaded_images/perfect-fit-guarantee.png" alt="PERFECT FIT GUARANTEE" />
                            <p>PERFECT FIT<br>GUARANTEE</p>
                        </span>
                    </a>
                </div>
                <div class="col-sm-3 col-xs-6">
                	<span>
                        <img src="/product_images/uploaded_images/earn-points.png" alt="EARN POINTS AS YOU SHOP" />
                        <p>100% customer<br>satisfaction</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <!-- BEGIN Home Top Banners -->
    {{> components/halothemes/home-top-banners}}
    <!-- END Home Top Banners -->

    
    {{#if products.featured}} 
    {{> components/products/g-featured products=products.featured columns=8}} 
    {{/if}}
    
    {{#if products.new}}
        {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
    {{/if}}

    <!-- BEGIN Shop By Category // Static Block
    {{> components/halothemes/home-shop-by-category}}
    END Shop By Category // Static  Block -->
    
    <!-- BEGIN Home Brand Slider -->
    {{> components/halothemes/home-brand-slider}}
    <!-- END Home Brand Slider -->

    <!-- BEGIN Home Bottom Banners -->
    {{> components/halothemes/home-bottom-banners}}
    <!-- END Home Bottom Banners -->

    <div id="InstagramGallery" class="wow fadeIn">
        <div class="container">
            <div class="widget-title">
                <h3>Splash Spearfishing on Instagram <a href="https://www.instagram.com/splashspearfishingau/" target="_blank">@splashspearfishing</a></h3>
            </div>
    
            <div id="instafeed" class="owl-carousel" data-userid="1592711469" data-accesstoken="1592711469.cec504a.9ac383ecd3aa455c93f3525874362ad5"></div>
        </div>
    </div>

</div>

{{#if page_type '===' 'default'}}
{{else}}
    <!-- BEGIN Home Brand Slider -->
    {{> components/halothemes/home-brand-slider}}
    <!-- END Home Brand Slider -->
{{/if}}

{{/partial}}
{{> layout/base}}
