// =============================================================================
// FORMS (CSS)
// =============================================================================
.form-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: stencilColor('input-placeholder-color');
}

.form-input::-moz-placeholder {
    /* Firefox 19+ */
    color: stencilColor('input-placeholder-color');
}

.form-input:-ms-input-placeholder {
    /* IE 10+ */
    color: stencilColor('input-placeholder-color');
}

.form-input:-moz-placeholder {
    /* Firefox 18- */
    color: stencilColor('input-placeholder-color');
}

// Select boxes
// -----------------------------------------------------------------------------

.form-select {
    appearance: none;
    background-image: url('../img/select-arr.png');
    background-color: #f5f5f5;
    border-radius: $select-borderRadius;
    padding: $select-padding;
    border-color: #c2c2c2;
    &:hover {
        border-color: $select-hover-borderColor;
    }
    &:focus {
        background-image: url('../img/select-arr-focus.png');
    }
}


// Form labels
// -----------------------------------------------------------------------------

.form-label {

    small {
        float: $opposite-direction;
        margin-top: $form-label-small-marginTop;
    }
}


// Form labels (inline small text)
// -----------------------------------------------------------------------------

.form-label--inlineSmall {

    small {
        color: red;
        float: none;
        font-size: inherit;
        font-weight: fontWeight("normal");
        margin-left: spacing("quarter");
        text-transform: none;
    }
}
