// =============================================================================
// WRITE A REVIEW (CSS)
// =============================================================================
.writeReview-productDetails {
    @include breakpoint("medium") {
        @include grid-column(6);
    }
    img {
        margin-bottom: 20px;
    }
    .product-brand {
        color: color("greys", "light");
        margin: 0 0 6px;
        text-transform: none;
        text-align: center;
    }
    .product-title {
        margin-top: 0;
        text-transform: none;
        font-size: 14px;
        color: #000;
        letter-spacing: 0;
        text-align: center;
    }
}

.writeReview-form {
    @include breakpoint("medium") {
        @include grid-column(6);
    }
    .form-label {
        font-weight: 700;
        color: #000;
    }
}
