// =============================================================================
// HEADER (CSS)
// -----------------------------------------------------------------------------
header.header {
    background-color: stencilColor('header-backgroundColor');
    min-width: 300px;
}

.header-top {
    font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
    font-size: fontSize("base");
    min-height: 40px;
    padding: 8px 40px 7px;
    text-transform: uppercase;
    color: stencilColor('headerTop-textColor');
    background-color: stencilColor('headerTop-backgroundColor');
    border-bottom: 1px solid stencilColor('headerTop-borderBottom');
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 1;
    @media (max-width: 991px) {
        padding-left: 0;
        padding-right: 0;
    }
    & .header-top-left {
        width: 35%;
        & #animated-promotion {
            & ul {
                & li {
                    letter-spacing: 0.05em;
                }
            }
        }
    }
    & .header-top-phone {
        display: flex;
        justify-content: flex-end;
        padding-top: 4px;
        @media (max-width:767px) {
            justify-content: center;
        }
        p {
            font-size: 12px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            margin-bottom: 0;
            letter-spacing: 0.05rem;
        }
        .fa-phone {
            padding: 0px 3px 0 0;
            font-size: 15px;
        }
        span {
            padding-right: 5px;
        }
    }
    & .header-top-right {
        width: 65%;
        @media (max-width: 991px) {
            width: 100%;
        }
        & #need-help-phone {
            &::before {
                display: inline-block;
                width: 14px;
                height: 14px;
                background: url('../img/comment-icon.png') center no-repeat;
                content: "";
                margin-right: 10px;
                vertical-align: -2px;
            }
            & a {
                font-weight: 700;
            }
        }
        & #currency-converter {
            position: relative;
            border-right: 1px solid stencilColor('headerTop-borderBottom');
            padding-right: 15px;
            & > a {
                font-weight: 700;
                & img {
                    vertical-align: -1px;
                    margin-right: 5px;
                }
                & .fa {
                    margin-left: 4px;
                }
            }
            & > ul {
                padding-top: 6px;
                padding-bottom: 6px;
                left: 50% !important;
                min-width: 200px;
                top: auto !important;
                margin-top: 9px;
                -moz-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                border-radius: 3px;
                & > li {
                    padding: 0;
                    display: block;
                    & > a {
                        padding: 7px 15px;
                        &:hover {
                            background-color: #f5f5f5;
                            text-decoration: none;
                        }
                        & img {
                            vertical-align: -1px;
                            margin-right: 5px;
                        }
                    }
                }
                & > li + li {
                    border-top: 1px solid #f5f5f5;
                }
            }
        }
        & #accountDropdown {
            position: relative;
            & > a {
                & .fa {
                    margin-left: 4px;
                }
            }
            & > ul {
                padding-top: 6px;
                padding-bottom: 6px;
                left: 50% !important;
                min-width: 200px;
                top: auto !important;
                margin-top: 9px;
                -moz-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                transform: translateX(-50%);
                text-align: left;
                border-radius: 3px;
                & > li {
                    padding: 0;
                    display: block;
                    & > a {
                        padding: 7px 15px;
                        display: block;
                        &:hover {
                            background-color: #f5f5f5;
                            text-decoration: none;
                        }
                        & img {
                            vertical-align: -1px;
                            margin-right: 5px;
                        }
                    }
                }
                & > li + li {
                    border-top: 1px solid #f3f3f3;
                }
                @media (max-width: 991px) {
                    left: auto !important;
                    transform: none;
                    right: 0;
                    & .triangle-with-shadow::before {
                        left: auto;
                        right: 20px;
                    }
                }
            }
        }
        & #mobileAccountSidebar > a {
            text-transform: uppercase;
            font-weight: 700;
            & .fa {
                font-size: 14px;
                margin-right: 6px;
            }
        }
    }
    & a {
        text-decoration: none;
        color: stencilColor('headerTop-textColor');
        &:hover {
            color: stencilColor('headerTop-textColorHover');
        }
    }
    & nav.navUser {
        & ul {
            list-style: none;
            margin: 0;
            & li {
                display: inline-block;
                padding: 2px 10px;
                letter-spacing: 0.05em;
                &.last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

.header-middle {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 40px 15px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    @media (max-width: 1199px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }
    @media (max-width: 991px) {
        padding: 0;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: stretch;
        min-height: 62px;
    }
    .right-buttons {
        float: right;
    }
    & .header-logo {
        width: 240px;
        padding-right: 20px;
        margin: 0;
        & a {
            font-family: stencilFontFamily('logo-font'), Arial, Helvetica, sans-serif;
            font-size: 32px;
            color: stencilColor('storeName-color');
        }
        @media (max-width: 991px) {
            width: auto;
            align-items: center;
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            justify-content: center;
            padding: 7px 10px;
        }
    }
    & #menu {
        width: calc(100% - (240px + 320px));
        position: relative;
        @media (max-width: 1199px) {
            margin-top: 15px;
            order: 3;
            width: 100%;
            text-align: center;
            & nav.navPages > ul > li > .navPage-subMenu {
                text-align: left;
            }
        }
    }
    & .header-middle-right {
        width: 320px;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: 1199px) {
            width: calc(100% - 240px);
        }
        @media (max-width: 991px) {
            width: 62px;
            align-content: stretch;
            align-items: stretch;
        }
        & > div {
            padding: 0 15px;
            position: relative;
            &.wishlist-link {
                font-size: 24px;
                & a {
                    color: stencilColor('wishlist-icon-color');
                    &:hover {
                        color: stencilColor('wishlist-icon-colorHover');
                    }
                }
            }
            &.top-cart {
                position: static;
                @media (max-width: 991px) {
                    height: auto;
                    padding: 0;
                    width: 100%;
                    display: -webkit-box;
                    /* OLD - iOS 6-, Safari 3.1-6 */
                    display: -moz-box;
                    /* OLD - Firefox 19- (buggy but mostly works) */
                    display: -ms-flexbox;
                    /* TWEENER - IE 10 */
                    display: -webkit-flex;
                    /* NEW - Chrome */
                    display: flex;
                    /* NEW, Spec - Opera 12.1, Firefox 20+ */
                    align-content: stretch;
                    align-items: stretch;
                }
                & > a {
                    position: relative;
                    display: block;
                    & > span {
                        display: -webkit-box;
                        /* OLD - iOS 6-, Safari 3.1-6 */
                        display: -moz-box;
                        /* OLD - Firefox 19- (buggy but mostly works) */
                        display: -ms-flexbox;
                        /* TWEENER - IE 10 */
                        display: -webkit-flex;
                        /* NEW - Chrome */
                        display: flex;
                        /* NEW, Spec - Opera 12.1, Firefox 20+ */
                    }
                    & svg {
                        fill: stencilColor('cart-icon-color');
                        stroke: stencilColor('cart-icon-color');
                        stroke-width: 0.5px;
                        -moz-transition: all .3s ease 0s;
                        -webkit-transition: all .3s ease 0s;
                        transition: all .3s ease 0s;
                    }
                    & .countPill {
                        position: absolute;
                        right: -12px;
                        top: -4px;
                        line-height: 24px;
                        display: inline-block;
                        min-width: 24px;
                        padding: 0 4px;
                        text-align: center;
                        border-radius: 50%;
                        background-color: stencilColor('item-count-circle-backgroundColor');
                        color: stencilColor('item-count-circle-color');
                        font-size: 11px;
                        @media (max-width: 991px) {
                            right: auto;
                            left: 50%;
                            top: 50%;
                            -moz-transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            margin-top: -6px;
                            margin-left: 14px;
                        }
                    }
                    @media (max-width: 991px) {
                        display: -webkit-box;
                        /* OLD - iOS 6-, Safari 3.1-6 */
                        display: -moz-box;
                        /* OLD - Firefox 19- (buggy but mostly works) */
                        display: -ms-flexbox;
                        /* TWEENER - IE 10 */
                        display: -webkit-flex;
                        /* NEW - Chrome */
                        display: flex;
                        /* NEW, Spec - Opera 12.1, Firefox 20+ */
                        width: 100%;
                        height: auto;
                        align-content: center;
                        align-items: center;
                        justify-content: center;
                        top: 0;
                        left: 0;
                    }
                }
                &:hover a svg {
                    fill: stencilColor('cart-icon-colorHover');
                    stroke: stencilColor('cart-icon-colorHover');
                }
                &.is-open a svg {
                    fill: stencilColor('cart-icon-colorHover');
                    stroke: stencilColor('cart-icon-colorHover');
                }
            }
        }
    }
}

.header-bottom {
    background-color: stencilColor('headerBottom-backgroundColor');
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-height: 40px;
    font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    & p {
        margin: 0;
        color: stencilColor('headerBottom-textColor');
    }
}

#animated-promotion {
    ul {
        list-style: none;
        margin: 0;
        & .owl-stage {
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            align-items: center;
            flex-wrap: wrap;
        }
    }
}


#storeCredit-toggle {
    position: relative;
}

#storeCredit-dropdown {
    left: 50% !important;
    top: auto !important;
    padding: 15px 20px;
    min-width: 300px;
    text-align: left;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 9px;
    color: #000;
    border-radius: 3px;
    font-family: $fontFamily-sans;
    letter-spacing: 0;
    text-transform: none;
    @media (max-width: 991px) {
        position: static;
        min-width: auto;
        transform: none !important;
        padding: 0 10px;
        border-bottom: 1px solid #e5e5e5;
        & .alert {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 991px) {
    .header-bottom > .container {
        padding-left: 0;
        padding-right: 0;
    }
}
