.serviceInfo-logos {
  @include grid-row();
  list-style: none;
}

.serviceInfo-logo {
  display: flex;
  justify-content: center;
  @include grid-column(4);
  padding: 10px;

  a {
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    padding: 10px;
  }
}
