// =============================================================================
// SIZE CHART (CSS)
// =============================================================================
//
// 1.  
// 2. 
//
// -----------------------------------------------------------------------------
$tabel-row-background-colour: #f9f9f9;
$tabel-row-hover-background-colour: #f9f9f9;
$table-cell-padding: remCalc(8px) remCalc(15px);
$table-cell-lh: 1.428571429;

#modal-size-chart-form {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    // left: 50%;
    // margin: 0 auto;
    // max-height: 90%;
    // max-width: 95%;
    // min-height: 240px;
    // outline: none;
    // overflow: hidden;
    // padding: 0;
    // right: 0;
    // top: 50% !important;
    // transform: translate(-50%, -50%);
}

.sizeChart-table-wrapper {
    background: #fff;
    position: absolute;
    overflow: auto;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sizeChart-title {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

.sizeChart table {
    margin: 0 auto;

    tr:hover {
        background: $tabel-row-hover-background-colour;
    }

    tr td  {
        padding: $table-cell-padding;
    }

    tbody  {
        tr {
            background: #fff;
        }
        tr:nth-child(odd) {
            background: $tabel-row-hover-background-colour;
            transition: all 0.3s ease-in-out;
        }
        
        tr:hover {
            background: $tabel-row-hover-background-colour;
        }
    }

    thead {
        background: #fff;
        tr th  {
            padding: $table-cell-padding;
        }
    }
}

.sizeChart table thead tr th, .sizeChart table tr td {
    vertical-align: middle;
}


.g-model {

        // scss-lint:disable ImportantRule
        
        left: 50%;
        margin: 0 auto;
        max-height: 90%;
        max-width: 95%;
        min-height: 240px;
        outline: none;
        overflow: hidden;
        padding: 0;
        right: 0;
        top: 50% !important;
        transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,0.5);
}

#sizeChart-close {
    display: flex;
    justify-content: flex-end;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.btn-sizeChart {
    border: 1px #07719d solid;
    margin-bottom: 20px;
    &:hover {
        border: 1px #000 solid;
    }
}
