{{#partial "page"}}

<section class="page page-{{title}}">
    <div class="page-content page-content--centered">
        <h1 class="page-heading">
            {{lang 'unavailable.hibernation_title'}}
        </h1>
        {{> components/common/alert-error (lang 'unavailable.hibernation_message')}}
    </div>
</section>

{{/partial}}
{{> layout/base}}
