// =============================================================================
// Stencil Checkout  - Customize the checkout experience
// =============================================================================
//
// This file is for checkout customizations for Default one-page checkout.
//
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Montserrat:400,600,700|Roboto:400,400i,500,500i,700,700i|Roboto+Condensed:400,400i,700,700i|Open+Sans:400,400i,600,700,700i|Oswald:400,700|Source+Sans+Pro:400,400i');
h1.TitleHeading {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 30px 0 25px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.Content .Block.ExpressCheckout {
    padding-top: 60px;
}

.ExpressCheckoutBlock {
    padding: 0 0;
    margin-bottom: 15px;
    border: 0;
    font-size: 12px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    h2 {
        font-size: 20px;
        letter-spacing: .1em;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        padding-bottom: 25px;
    }
    dt {
        font-size: 14px;
        font-weight: 700;
        font-family: 'Karla', Arial, Helvetica, sans-serif;
    }
    dd > label {
        font-weight: 700;
    }
    a {
        font-size: 12px;
        color: #000;
    }
    p {
        font-size: 12px;
    }
    & > .ExpressCheckoutContent {
        padding: 30px 20px;
        & h4 {
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 0;
            text-transform: none;
            font-weight: 700;
            color: #000;
        }
    }
    input[type="button"],
    input[type="submit"] {
        border-radius: 0;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1em;
        height: 36px;
        background: #fff;
        color: #000;
        font-weight: 700;
        padding: 7px 24px;
        border: 1px solid #000;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        border-radius: 3px;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
    input#bottom_payment_button {
        height: 52px;
        background: #000;
        color: #fff;
        &:hover {
            background: #fff;
            color: #000;
        }
    }
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        height: 36px !important;
        border-radius: 3px;
        border-color: #cbcbcb !important;
        font-size: 12px !important;
        padding-top: 0;
        padding-bottom: 0;
        &:focus {
            border-color: #989898 !important;
        }
    }
    .selector {
        font-size: 12px !important;
        height: 36px;
        min-height: 36px !important;
        border-radius: 3px;
        > span {
            font-size: 14px !important;
            line-height: 34px;
            font-family: 'Karla', Arial, Helvetica, sans-serif !important;
        }
    }
    select.FormField {
        font-size: 14px !important;
    }
}

.ExpressCheckoutBlock .ExpressCheckoutTitle {
    background: #f5f5f5;
    & > span.ExpressCheckoutCompletedContent {
        display: inline-block;
    }
}

.ExpressCheckoutBlockCompleted a.ChangeLink {
    font-size: 12px;
    top: 0px !important;
    right: 0px !important;
    border-radius: 0;
    position: absolute !important;
    height: 36px;
    padding: 0 15px;
    line-height: 36px;
    border: 0;
}

.ExpressCheckoutBlock .ExpressCheckoutTitle h3 {
    font-size: 14px;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    letter-spacing: 0em;
    color: #000;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 36px;
    display: inline-block;
    padding-left: 0px;
    padding-right: 20px;
    min-width: 210px;
    & .step {
        position: static;
        display: inline-block;
        float: left;
        min-width: 60px;
        min-height: 36px;
        line-height: 36px;
        background: #000;
        color: #fff;
        font-size: 14px;
        vertical-align: middle;
        border-radius: 0;
        margin-right: 20px;
        transform: none !important;
    }
}

.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle {
    border-bottom: 0;
}

.ExpressCheckoutContent .AccountLogin {
    input[type="text"],
    input.Textbox {
        margin-bottom: 15px;
        border-radius: 3px;
    }
}

.multiStep {
    li {
        & h4 {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.1em;
        }
        &.ActivePage {
            & h4 {
                border-width: 2px;
                border-color: #000;
            }
        }
    }
}

.ShippingAddressList {
    h4 {
        text-transform: none;
        padding-top: 15px;
    }
}

@media (max-width: 600px) {
    .ExpressCheckout {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .ExpressCheckoutContent .AccountLogin {
        padding-left: 0;
        input[type="text"],
        input.Textbox {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 480px) {
    .ExpressCheckoutContent #uniform-sel_billing_address {
        width: 100%;
    }
    .ExpressCheckoutBlock input[type="button"],
    .ExpressCheckoutBlock input[type="submit"] {
        font-size: 11px;
        letter-spacing: 0.05em;
        padding-left: 0;
        padding-right: 0;
    }
}

dl.mbm {
    & dd {
        margin-bottom: 5px;
    }
}

#LoginForm {
    & dl {
        dt {
            width: 25%;
            display: inline-block;
            padding-right: 20px;
            padding-bottom: 10px;
            vertical-align: middle;
            text-align: right;
            font-family: 'Karla', Arial, Helvetica, sans-serif;
            font-size: 14px;
            @media (max-width: 1199px) {
                width: 30%;
            }
            @media (max-width: 991px) {
                width: 100%;
                text-align: left;
                padding-bottom: 0;
            }
        }
        dd {
            width: 70%;
            display: inline-block;
            &:last-of-type {
                a {
                    font-family: 'Karla', Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            @media (max-width: 1199px) {
                width: 60%;
            }
            @media (max-width: 991px) {
                width: 100%;
                & input {
                    margin-bottom: 10px;
                }
                & input.btn {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}

ul.ShippingProviderList {
    & label {
        font-weight: 700;
        font-size: 12px;
    }
}

table.CartContents thead tr th,
table.CartContents tbody tr td,
.CartContents tfoot .CheckoutRedeemCoupon,
.CartContents tfoot .SubTotal td {
    font-size: 14px;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
}

#provider_list label {
    font-weight: 700;
    display: inline-block;
    margin-bottom: 5px;
}

.ExpressCheckoutBlock h1.TitleHeading {
    font-weight: 700;
}

a.btn.js-share-button {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 1px solid #000;
    background: #fff;
    &:hover {
        color: #178dc9;
    }
    @media (max-width: 600px) {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
}

#SimilarMultiProductsByCustomerViews {
    & h4 {
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        font-weight: 700;
    }
    & .ProductList .ProductDetails {
        padding: 0 0 7px 0;
        & a.pname {
            font-family: "Karla", Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 700;
        }
    }
    & em.p-price {
        color: #000;
        font-family: "Karla", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 5px;
        & strike {
            color: #aaa;
            margin-right: 10px;
            font-style: italic;
            font-size: 14px;
        }
        & .SalePrice {
            color: #e82b1a;
            font-weight: 700;
        }
    }
    & .ProductPriceRating {
        padding-bottom: 10px;
    }
    & .ProductActionAdd {
        & a {
            font-family: "Montserrat", Arial, Helvetica, sans-serif;
            font-weight: 700;
            display: block;
            border: 1px solid #000;
            background: #fff;
            &:hover {
                color: #178dc9;
            }
            @media (max-width: 600px) {
                padding-top: 0.8em;
                padding-bottom: 0.8em;
            }
        }
    }
}
