/* Custom Styles */

.header-logo img {
    max-width: 264px;
}
.home-top-box {
    display: block;
    @media (max-width:768px) {
        display:none;
    }
}

.home-top-box-row {
    display: flex;
    flex-wrap: wrap;
}

.home-top-box span {
    @media (max-width:768px) {
        border-left: none !important; 
        padding: 30px 21px !important;  
    }
    @media (max-width:380px) {
        padding: 30px 0px !important;
    }
    
}

.home-top-box p {
    @media (max-width:768px) {  
        font-size: 10px;
    }
    
}

.home-top-box img {
    @media (max-width:767px) {  
        height: 3rem;
    }
}

.home-top-box-row div img {
    @media (max-width:768px) {  
        height: 3rem;
    }
}

.home-top-box-row div:nth-child(1) {
    @media (max-width:767px) {  
        border-right: 1px #dedfdd solid;
        border-bottom: 1px #dedfdd solid;
    }
    
}

.home-top-box-row div:nth-child(2) {
    @media (max-width:767px) {  
        border-bottom: 1px #dedfdd solid;
    }
    
}

.home-top-box-row div:nth-child(3) {
    @media (max-width:767px) {  
        border-right: 1px #dedfdd solid;
    }
}

.page-content h4 {
    font-size: 20px;
    font-weight: 700;
}

.page-content h5 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
.product-bottom h5{
    text-align: center;
}
.footer-payment-icons {
    display: flex;
    justify-content: center;
    p {
        margin-bottom: 0;
        font-size: 14px;
        font-family: 'Karla';
        color: #333;
    }
}

.productView-freeShipping {
    display: block;
    border: 1px solid #dadada;
    padding: 10px;
    width: 100%;
    text-align: center;
}

@media (max-width: 767px){

    .page-type-default {
        .add-cart {
            display: block !important;
        }

        .prod-item.wow.fadeIn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 49%;
            flex: 0 0 49%;
            margin-right: 2%;
            margin-bottom: 20px;
        }

        .featuredProducts {
            .module-heading {
                margin-bottom: 39px;
            }
            .prod-item:nth-child(2n) {
                margin-right: 0;
            }

            .featuredProducts-wrap .prod-item .card-figure {
                border-radius: 6px 6px 3px 3px;
                color: #191919;
                background-color: #fff;
                padding: 20px 20px 0px;
                box-shadow: 0 0 2px rgba(25, 25, 25, 0.2);

                a .card-image {
                    width: auto;
                    margin: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0;
                }
            }
        }

        .prod-item .prod-image {
            height: 250px;
            overflow: hidden;
            margin-bottom: 10px;

            > a {
                overflow: hidden;
                display: block;
            }
        }

        .featuredProducts .featuredProducts-wrap .prod-item .card .prod-desc {
            height: 69px;
            padding-top: 18px;
        }
    }
}
@media (max-width: 480px) {
    .page-type-default {
        .homeHeroBanners .owl-carousel .owl-item img {
            height: 150px;
        }

        .featuredProducts-wrap .prod-item .prod-image {
            height: 290px;
        }

        .homeHeroBanners .heroCarousel {
            min-height: 150px;
        }

        .prod-item {
            &.wow.fadeIn {
                flex: 0 0 100%;
            }

            .prod-image {
                height: 190px;

                .actions {
                    width: auto;
                }
            }
        }
    }

}



