.productView {
    .productViewTop {
        margin-top: 35px;
    }
}

.header {
    .header-top {
        min-height: 40px;
        padding-top: 3px;
    }
}

.featuredProducts-wrap .prod-item .prod-image .actions > .btnQV {
    width: 140px;
}

.prod-item:hover .actions > a.btnWL {
    display: none;
}

.homeHeroBanners {
    padding: 0;
}

.homeHeroBanners-promo-banners {
    display: none;
}

[data-wishlist-add] > button i.fa {
    display: none;
}

.homeHero-container {
    width: 100%;
}

.homeHeroBanners-slider {
    width: 100%;
}

.homeHeroBanners-slider .owl-carousel .owl-dots.disabled{
    display: block;
}

.homeHeroBanners-slider .owl-nav button{
    background-color: black;
    opacity: 0.7;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.homeHeroBanners-slider .owl-nav button span{
    font-size: 50px;
    color: #fff;
    line-height: 30px;
}

.homeHeroBanners-slider .heroCarousel .owl-nav {
    max-width: none;
    margin: 0 15px;
}

.homeHeroBanners-slider button.owl-next {
    float: right;
}

.homeHeroBanners-slider .owl-prev {
    span {
        margin-right: 2px;
    }
}

.homeHeroBanners-slider .owl-next {
    span {
        margin-left: 4px;
    }
}

#homeBrands {
    .owl-nav {
        display: none;
    }
}

#InstagramGallery {
    .owl-nav {
        display: none;
    }
}
.prod-item .prod-image > a{
    overflow: hidden;
}
.card-image{
    transform: scale(1.03);
    max-width: 100%;
}
.page-type-default .gst{
    display: none;
}
.productView-price{
    .price-section{
        width: auto;
        display: inline-block;
        float: left;
    }
}
.gst{
    font-size: 14px;
    padding-left: 5px;
    margin-bottom: 0;
    color: #666666;
    display: inline-block;
}
.card .gst{
    text-align: center;
}
.page-testimonials{
    .page-heading{
        font: 700 44px 'Montserrat', sans-serif;
        color: #07719d;
        line-height: 1.2em;
        text-transform: uppercase;
    }
    h3{
        padding: 0 1%;
        font: 700 24px 'Montserrat', sans-serif;
        color: #07719d;
        line-height: 1.2em;
    }
    p{
        color: #000000;
        width: 100%;
    }
    .customer_rv{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .customer_dr{
        margin-bottom: 0;
        color: #07719d;
        font-size: 13px;
    }
    .page-content{
        .row:not(:last-child) .col-sm-6{
            //border-bottom: 1px solid #b1b1b1;
        }
    }
    .row{
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        .col-sm-6:last-child{
            text-align: right;
            p{
                float: right;
            }
        }
    }
    .col-sm-6 p:first-child{
        &:after, &:before{
            content: '"';
            font-size: inherit;
        }
    }
    .col-sm-6{
        background: #F8F7F6;
        width: 100%;
        padding: 10px;
        margin: 1%;
        border: 1px solid #07719d;
        border-radius: 6px;
    }
    @media(min-width: 768px){
        .col-sm-6 {
            padding: 30px 15px;
            width: 48%;
            margin: 1%;
            border-radius: 13px;
        }
        p{
            width: 80%;
        }
    }
}
.page-dealers{
    .page-heading{
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 2px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    h2{
        font-family: 'Raleway', sans-serif;
        color: #07719d;
        line-height: 1.2em;
        font-size: 16px;
    }
    h4{
        font-size: 26px;
        margin: auto auto 15px;
    }
    hr{
        margin: 10px 0;
    }
    .page-content .store-area:not(:nth-child(3)):before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background: #a7a5a5;
        margin: 33px 0;
        transition-duration: .5s;
    }
    .store-area:not(:first-child):hover:before {
        background: #000000;
    }
    .store-col{
        float: left;
        background: #fbfbfb;
        width: 100%;
        margin: auto auto 10px;
        max-width: 450px;
        & > div:first-child{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 220px;
            margin-bottom: 15px;
        }
        img{
            max-height: 100%;
        }
    }
    .information-store{
        padding-bottom: 15px;
        p{
            margin-bottom: 5px;
            color: #000000;
            padding: 0 15px;
        }
    }
    .name-store{
        font-weight: bold;
    }
    .address-store{

    }
    @media (max-width: 767px) {
        .page-heading{
            margin: 10px 0;
        }
    }
    @media (min-width: 550px) {
        .store-col{
            width: 48%;
            margin: 0 1% 10px;
        }
    }
    @media (min-width: 768px) {
        .row{
            margin: 0 -1%;
        }
        .store-col{
            width: 31.333%;
            width: calc(94% / 3);
        }
    }
}

//style product
.tabs-contents{
    border: 1px solid #07719d;
}

.description-tabs .tabs {
    background: none;
    .tab {
        border: 1px solid #07719d;
        margin-right: 15px;
        background: #07719d;
        margin-bottom: -2px;
        &.is-active {
            border-top: 1px solid #07719d;
            border-bottom: 1px solid #fff;
        }
    }
}
//.productView-details .productView-product .productView-rating{
//    display: block;
//}
#top-cart{
    .previewCartAction-viewCart a{
        border-color: #000000;
        color: #000000;
        &:hover{
            color: #ffffff;
        }
    }
    .previewCartAction-checkout a{
        color: #ffffff;
    }
}