// =============================================================================
// STENCIL
// =============================================================================


// Tools
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's toolkit for use.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/tools/toolkit"; // 1
@import "tools/tools";

// Settings
// -----------------------------------------------------------------------------
//
// 1. Stencil global settings get imported first.
// 2. Import all Citadel and Foundation settings.
// 3. Import Citadel's version of foundation.
//      - This enables the ability to "null" variables in the Stencil settings.
// 4. Import Stencil's component settings overrides.
// 5. Import tools which set/reset Citadel's global settings, to be consumed by
//    the rest of Stencil.
//
// -----------------------------------------------------------------------------


// Fonts
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Montserrat:400,600,700|Roboto:400,400i,500,500i,700,700i|Roboto+Condensed:400,400i,700,700i|Open+Sans:400,400i,600,700,700i|Oswald:400,700|Source+Sans+Pro:400,400i');

@import "./font-awesome/font-awesome.scss";

@import "animate-min";
@import "owl-carousel-min";
@import "mCustomScrollbar-min";
@import "magnific-popup";

@import "settings/global/global"; // 1

@import "../../node_modules/@bigcommerce/citadel/dist/settings/global/global"; // 2

@import "settings/global/tools"; // 5

@import "../../node_modules/@bigcommerce/citadel/dist/settings/normalize/normalize"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/foundation/foundation"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/bigcommerce/bigcommerce"; // 2

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/foundation/foundation"; // 3

@import "settings/normalize/normalize"; // 4
@import "settings/vendor/vendor"; // 4
@import "settings/foundation/foundation"; // 4
@import "settings/citadel/citadel"; // 4
@import "settings/stencil/stencil"; // 4
@import "settings/layouts/layouts"; // 4


/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/alerts";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";



// Utilities
// -----------------------------------------------------------------------------

@import "utilities/utilities";
@import "../../node_modules/@bigcommerce/citadel/dist/utilities/utilities";


// Components
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's normalize dependency.
// 2. Import Citadel's components.
// 2. Import Stencil's component additions and custom components.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/normalize/normalize"; // 1
@import "../../node_modules/@bigcommerce/citadel/dist/components/components"; // 2
@import "components/components"; // 3


// Layouts
// -----------------------------------------------------------------------------
//
// 1. Stencil design layout files (example: Header or Footer).
//
// -----------------------------------------------------------------------------

@import "layouts/layouts"; // 1

@import "vendor/jstree/style";

@import "custom";

@import "custom-style";

/* New ----*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Raleway:400,500,600,700');

body{font-family: 'Montserrat', sans-serif !important; color: #07719d;}

.header-top{font-family: 'Montserrat', sans-serif !important; font-weight: 500; font-size: 12px; color: #999999; border-bottom:0px; padding:0px; min-height:30px;}
.header-top .header-top-left{width:70%; float:left;}
.header-top .header-top-right{width:20%; float:left;}
.header-top .header-top-right .navUser{background: #ccc; width: 173px; float: right; border-right: 0; text-align: center;}
.header-top .header-top-right #currency-converter{border-right:0px;}
.header-top .header-top-right #currency-converter > ul > li > a{padding: 7px 8px; font-size: 11px;}

.header-middle{background-color:#eff2ee; box-shadow:0px 0px 0px;}

.header-middle .header-middle-right{width:auto;}
.header-middle .header-middle-right > div{padding:0px;}

#quickSearch{width: 100%; margin-top:14px;}
#quickSearch > form .form-field{max-width: 100%;}
#quickSearch > form .form-field input#search_query{background-color:#FFF; border: 0 solid #666666; border-radius: 0; box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);}
#quickSearch > form .form-field button{background-color:#84b71c;}
#quickSearch > form .form-field button svg{fill:#FFF;}

.call-box .fa{font-size:32px; color:#07719d; padding-right:10px;}
.call-box p{border-left:#dedfdd 1px solid; margin-bottom: 0; padding: 8px 10px;}
.call-box p a{font-family: 'Montserrat', sans-serif !important; font-weight: 500; font-size: 26px; color:#07719d;}
.call-box p span{font-family: 'Montserrat', sans-serif !important; color:#83b81a; font-size:18px;}

.login-link a{color:#07719d; font-size:14px; font-family: 'Montserrat', sans-serif !important; font-weight: 500; border-right:#dedfdd 1px solid; text-align:center; padding: 20px 20px; margin: -14px 0; display:block;}
.login-link a .fa,.fas{color:#07719d; font-size:32px;}

#top-cart{padding: 20px 25px 20px 20px; margin: -14px 0; display:block; }
#top-cart a{width:100%; color:#07719d; font-size:14px; font-family: 'Montserrat', sans-serif !important; font-weight: 500;}
.header-middle .header-middle-right > div.top-cart > a svg{fill: #07719d; stroke: #07719d;}

.navPages-container .navPages{width: 1170px; margin:auto; position:relative;}
.navPages-container{background-color:#dedfdd;}
.navPages-container nav ul.navPages-list > li > a{font-size:16px; font-family: 'Montserrat', sans-serif !important; font-weight: 500; padding:15px; color: #07719d;}
.navPages-container nav ul.navPages-list > li > a:hover{color: #83b81a;}
.navPages-container nav ul.navPages-list > li.navPages-item-page{ float:right;}
.navPages-container nav ul.navPages-list > li.navPages-item-page a{background-color: rgb(131, 184, 26); width: 173px; display: block; color: #fff; line-height:2.5; margin: 5px 0; padding:0; text-align:center;}
.navPages-container nav ul.navPages-list > li > a.has-subMenu::after{top: 13px;}
.navPages-container nav ul.navPages-list > li > .navPage-subMenu{margin-top:-7px;}
.navPages-container li.hasMegamenu > .subMegaMenu .cateArea ul li{display: list-item; text-align: -webkit-match-parent;}
.navPages-container li.hasMegamenu > .subMegaMenu .cateArea ul li a{color: #07719d !important; font:500 14px 'Montserrat', sans-serif !important; text-align: left; margin-left:20px;}
.navPages-container li.hasMegamenu > .subMegaMenu .cateArea > ul > li > a{color: #07719d !important; font:500 15px 'Montserrat', sans-serif !important; text-transform: uppercase; text-align: left; margin-left:0px;}
.navPages-container .li.hasMegamenu > .subMegaMenu .cateArea ul li a:hover, .navPages-container li.hasMegamenu > .subMegaMenu .cateArea > ul > li > a:hover{color: #83b81a !important; text-decoration:none !important;}
.navPages-container nav ul.navPages-list > li > .navPage-subMenu ul li > a{color: #07719d !important; font:500 14px 'Montserrat', sans-serif !important; text-align: left;}

.heroCarousel{margin-bottom:0px;}

.home-top-box{background-color:#eff2ee; margin-bottom:50px;}
.home-top-box span{font: 500 17px 'Montserrat', sans-serif; color: #07719d; padding:30px 24px; display:block; border-left: 1px solid #dedfdd; text-transform:uppercase;}
.home-top-box span img{float:left; margin-top:-3px; margin-right:10px;}

.module-heading{font: 700 28px 'Montserrat', sans-serif; color: #07719d; margin: 4px 0; margin: 5px 0 40px; line-height: 1.6em; width:100%;}
.module-heading > span{background: transparent; padding:0px;}
a.green-but{background-color: rgb(131, 184, 26); color: #fff; display: inline-block; padding: 14px; font-weight: 700; font-size: 14px; float:right;}
a.green-but:hover{background-color: rgb(131, 184, 26); color: #fff;}

.banner-item .hover-text-bottom h5{font: 500 24px 'Montserrat', sans-serif;}
.banner-item .hover-text-bottom h5 i{float:right; margin-top:-18px; font-size:40px;}

#homeFeaturedProducts{background-color:#eff2ee; margin-top:30px; margin-bottom:30px; padding-bottom:30px;}
#homeFeaturedProducts.module-wrapper > .container, #homeNewProducts.module-wrapper > .container{border-bottom:0px;}
#homeFeaturedProducts .prod-item{background: rgb(255, 255, 255) !important; margin: 5px;}

#homeNewProducts{display:none;}

#homeBottomBanners{background:url("../img/11_03.jpg") no-repeat; background-size: cover; margin-top:10px; padding-top:60px;}
#homeBottomBanners .module-heading{color:#FFF;}

.blog-box h2{margin-bottom:15px;}
.blog-box h5{margin:0px;}
.blog-box img{border:1px #FFF solid;}
.blog-box a{font:500 18px 'Montserrat', sans-serif; color: #FFF;}
.blog-box p{font:300 14px 'Montserrat', sans-serif; color: #FFF;}

#footer-wrapper{padding-top:0px; background-color:#eff2ee;}
.newsletter-bg{background-color:#07719d; padding: 30px 0px;}
#footerSubcribeForm h5{font: 500 28px 'Montserrat', sans-serif; color:#FFF; line-height:22px;}
#footerSubcribeForm h5 span{font-size:14px; font-weight:300;}
#footerSubcribeForm{border-bottom:0px; margin:0px; padding:0px; position:relative;}
#footerSubcribeForm input[type="email"]{width: 500px; border-radius: 0; border: 0; height: 50px; margin-right:-5px;}
#footerSubcribeForm input[type="submit"]{position: absolute; right: 0; border-radius: 0px; top: 5px; background-color:#85b81d; border:0px; height: 40px; line-height: 40px;}
#footerSubcribeForm input[type="submit"]:hover{color:#FFF;}
.form-wrap{position:relative;}

#main-footer .footer-columns h5{margin-top: 0; margin-bottom: 25px; font-size: 18px; color: #07719d; font-weight:700; margin-top:20px;}
.footer-columns .column-item.first{width:40%;}
.footer-columns .column-item{width:20%;}
.footer-columns .column-item.last{width:20%;}
.footer-columns .column-item.first ul li > i.fa{color: #07719d; background-color: #eff2ee;}
.footer-columns .column-item ul li a{color: #333; font-size:14px; font-weight:300;}

.footer-columns .column-item.first ul li > i.fa{height:25px; margin-top:0px;}
.footer-columns .column-item ul li a.call-text{color:#07719d; font-size: 22px; font-weight:600;}
.footer-columns .column-item ul li a.email-text{color:#83b81a; font-size: 15px; font-weight:300;}

#bottom-footer{background: #FFF; color: #000; padding: 15px 0;}
#bottom-footer .powered-by p a, #bottom-footer .template-by p a{color: #000; text-decoration:underline;}
#bottom-footer .powered-by p a:hover, #bottom-footer .template-by p a:hover{color:#000;}
.social-icons{padding-right:0px;}
.social-icons a{background-color: #07719d !important;}
.social-icons a svg{fill:#FFF;}

/* sub page */

h2{font:500 36px 'Montserrat', sans-serif; color: #07719d; margin: 5px 0; line-height: 1.2em;}
h3{font:500 28px 'Montserrat', sans-serif; color: #000;}
h4{font:500 24px 'Montserrat', sans-serif; color: #07719d; margin: 15px 0; line-height: 1.2em;}
h5{font:500 20px 'Montserrat', sans-serif; color: #07719d; margin: 15px 0; line-height: 1.2em;}
p, .blog-post, .toggle-content{font:300 16px 'Raleway', sans-serif; color: #07719d; line-height: 1.2em; padding-left: 5px; padding-right: 5px;}
a{color: #83b81a; text-decoration: none;}
a:hover{color: #83b81a; text-decoration:underline;}

.margin-t-30{margin-top:30px;}
.margin-t-20{margin-top:20px;}

.productView-title{color:#000; font: 700 36px 'Montserrat', sans-serif;}
.productView-price, ul.all-categories-list > li > a{color:#07719d;}
#relatedProducts > h3, #similarByViews > h3, section.toggle .toggle-title {font:700 18px 'Montserrat', sans-serif; color: #989898;}
.prod-item .prod-desc, .sidebarBlock .side-module-heading{color:#07719d; font: 500 18px 'Montserrat', sans-serif;}

.staff-text p a{font: 500 18px 'Montserrat', sans-serif;}

.ambassadors-text p strong{margin-top:15px; display:block; font-size:15px; color:#000;}

.top-link a{font-size:16px;}
.top-link .active-link{font-weight:600;}

.blog-title a{font:500 36px 'Montserrat', sans-serif; color: #07719d;}
.btn.blog-readmore{color: #83b81a; border:1px #83b81a solid;}

a:hover{text-decoration: none;}

#sideBannerImage, #sideCustomCMS{display:none;}

@media only screen and (max-width: 1200px) {
	.call-box p a{font-size: 20px;}
	.navPages-container nav ul.navPages-list > li > a{font-size: 13px; padding: 11px;}
	.home-top-box span{font-size:13px;}
	.blog-box a{font-size:16px;}
	.blog-box p{font-size:13px;}
	.navPages-container nav ul.navPages-list > li > .navPage-subMenu{margin-top: 1px;}
	.navPages-container .navPages{width: 970px;}
}
@media only screen and (max-width: 991px) {
	.navPages-container .navPages{width: 750px;}
	
	.st-menu > ul > li.hasSub:hover > a, .st-menu > ul > li > a:hover{background-color: #dedfdd; color:#000;}
	
	.call-box{margin-top:10px;}
	.cart-text{position: fixed; margin-top: 26px;}
	
	#quickSearch{margin-top:0px;}	
	
	.card-figure{padding:15px;}
	
	.header-top .header-top-right{width: 100%;}
	#st-trigger-effects{width:8.33333%;}
	
	.footer-columns .column-item.first{width:40%;}
	.footer-columns .column-item{width:30%;}
	.footer-columns .column-item.last{width:50%;}
}
@media only screen and (max-width: 767px) {
	#st-trigger-effects{width:16.66667%;}
	#top-cart{padding: 12px 0px; margin:0px; border-right:0px;}
	
	.module-heading{font: 500 30px 'Montserrat', sans-serif; margin-bottom:10px;}
	a.green-but{padding:5px; margin-bottom:10px;}
	
	.footer-columns .column-item.first{width:100%;}
	.footer-columns .column-item{width:100%;}
	.footer-columns .column-item.last{width:100%;}
	
	#footerSubcribeForm h5{font-size:18px; margin-bottom:10px;}
	.footer-columns .column-item{margin-bottom:10px;}
	#footerSubcribeForm input[type="email"]{width:100% !important;}
	#footerSubcribeForm input[type="submit"]{position: relative;}
}
.subMegaMenu .imageArea {
	
}

.navPages-container li.hasMegamenu > .subMegaMenu .imageArea.colRight {
	
}

.price--rrpPrefix {
	color: #000000;
    font-style: italic;
    font-size: 14px;
}

.page-type-category .price-section--saving {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #000000;
    font-weight: normal;
}

.productView-price .ourPrice {
	margin: 0.5rem 0;
	display: block;
}

.header-logo img {
	max-width: 264px;
	@media (max-width:1200px) {
            width: 100%;
        }
	@media (max-width:360px) {
            max-width: 222px;
        }
}

.featuredProducts {
	margin-top: 50px;
	.relative-wrap {
		padding-top: 50px;
		background: #eff2ee;
	}
	.featuredProducts-wrap {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		.prod-item {
			width: 25%;
			@media (max-width:768px) {
				width: 33%;
			}
			@media (max-width:767px) {
				width: 100%;
			}
			.card-figure {
				background-color: transparent;
				margin-bottom: 50px;
				a {
					width: 100%;
					.card-image {
						@media (max-width:767px) {
							width: 100%;
							margin-bottom: 50px;
						}
					}
				}
				
				.sale-badge {
					right:41px;
				}
			}
			.prod-desc {
				position: relative;
				width: 65%;
				margin: 0 auto;
				height: 170px;
				@media (max-width:767px) {
						width: 100%;
						height: 90px;
					}
				@media (max-width:414px) {
						padding-left: 10px;
					}	
				.rating-compare {
					display: none;
				}
				> a {
					position: absolute;
					left: 0;
					bottom:0;
				}
			}
		}
	}
}

.optimizedCheckout-contentSecondary {
	display:none !important;
}

.productView-product .productView-rating {
	display: none;
}
