// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
// between it and the header on all situations
//
// =============================================================================

/*Off-canvas Navigation*/

@media (max-width: 991px) {
    #st-trigger-effects {
        width: 62px;
        text-align: center;
        display: -webkit-box !important;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box !important;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox !important;
        /* TWEENER - IE 10 */
        display: -webkit-flex !important;
        /* NEW - Chrome */
        display: flex !important;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        align-content: stretch;
        align-items: stretch;
        & a {
            width: 100%;
            height: auto;
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            align-content: center;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            & svg {
                width: 21px;
                height: 21px;
                margin-left: -5px;
                fill: stencilColor('mobile_sidebar_trigger');
                &:last-child {
                    display: none;
                }
            }
        }
        &:hover a svg {
            fill: stencilColor('mobile_sidebar_triggerHover');
        }
    }
}

body.st-off-canvas {
    overflow: hidden;
    & #st-trigger-effects {
        & svg {
            width: 25px;
            height: 25px;
        }
        & svg:first-child {
            display: none;
        }
        & svg:last-child {
            display: inline-block;
        }
    }
}

.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.st-content {
    overflow-y: scroll;
    background: #f3efe0;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    height: 100%;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -webkit-transform .3s;
    -ms-transition: -webkit-transform .3s;
    -o-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.st-pusher::after {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    /* Opacity for IE8 and lower */
    -webkit-transition: opacity .3s, width .1s .3s, height .1s .3s;
    -moz-transition: opacity .3s, width .1s .3s, height .1s .3s;
    -ms-transition: opacity .3s, width .1s .3s, height .1s .3s;
    -o-transition: opacity .3s, width .1s .3s, height .1s .3s;
    transition: opacity .3s, width .1s .3s, height .1s .3s;
    opacity: 0;
    /*background: rgba(45, 45, 50, .8);*/
    background: rgba(255, 255, 255, .5);
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=0);
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    /* Opacity for IE8 and lower */
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 1;
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=100);
}

.st-menu {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 290px;
    height: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-shadow: inset -16px -1px 8px -18px #BFBFBF;
    -webkit-box-shadow: inset -16px -1px 8px -18px #BFBFBF;
    -moz-box-shadow: inset -16px -1px 8px -18px #BFBFBF;
    -o-box-shadow: inset -16px -1px 8px -18px #BFBFBF;
    border-right: 1px solid #e5e5e5;
    background: #ffffff;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    /* Opacity for IE8 and lower */
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 1;
    background: rgba(0, 0, 0, .2);
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=100);
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    /* Opacity for IE8 and lower */
    -webkit-transition: opacity .3s, width .1s .3s, height .1s .3s;
    transition: opacity .3s, width .1s .3s, height .1s .3s;
    opacity: 0;
    /* Opacity for Modern Browsers */
    filter: alpha(opacity=0);
}


/* content style */

.st-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu > ul {
    overflow-y: auto;
    height: 100%;
    min-height: 320px;
}

.st-menu h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0;
    padding: 1em;
    color: rgba(0, 0, 0, .4);
    -moz-text-shadow: 0 0 1px rgba(0, 0, 0, .1);
    -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, .1);
    text-shadow: 0 0 1px rgba(0, 0, 0, .1);
}

.st-menu ul li a {
    border-bottom: 1px solid #e5e5e5;
    text-decoration: none !important;
}

nav#mobile-customer ul li {
    position: relative;
    & > span.toggle-expand ~ div {
        display: none;
    }
    & > span.toggle-close ~ div {
        display: block;
        position: static !important;
    }
    &#currency-converter.expanded > a {
        border-bottom: 1px solid #e5e5e5;
    }
    &#currency-converter > a > img {
        display: inline-block;
        vertical-align: -1px;
        margin-left: 8px;
        margin-right: 3px;
    }
    &#currency-converter ul li a strong {
        color: #e06868;
    }
    &#currency-converter ul li a img {
        display: inline-block;
        vertical-align: -1px;
        margin-right: 3px;
    }
    &#side-account-menu ul {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
    }
    &.mobile-call-us {
        font-weight: 700;
        text-transform: uppercase;
        padding: 13px 20px 12px;
        & a {
            display: inline;
            padding: 0;
            &:hover {
                background: transparent;
                color: #000;
                border-bottom: 1px solid #000;
            }
        }
    }
}

nav#mobile-customer ul li .not-logged {
    font-size: 0;
    line-height: normal !important;
    color: #969696;
}

nav#mobile-customer ul li .not-logged a {
    display: block;
}

nav#mobile-customer ul li .not-logged a:hover {
    color: #fff;
    background: #000;
}

nav#mobile-customer ul li .logged-in {
    font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 20px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 13px;
    padding-bottom: 12px;
}

.st-menu > ul > li.hasSub:not(.hasMegamenu) > .navPage-subMenu > ul > li > a {
    text-transform: none;
}

.st-menu > ul > li.hasSub:not(.hasMegamenu) > .navPage-subMenu > ul > li.hasSub > ul {
    display: none;
    & > li > a {
        text-transform: none;
        font-weight: normal;
    }
}

.st-menu > ul > li.hasSub:not(.hasMegamenu) > .navPage-subMenu > ul > li.hasSub.expanded > ul {
    display: block;
}

.st-menu > ul > li.hasSub:not(.hasMegamenu) > .navPage-subMenu ul > li.hasSub > span.toggle-expand::before {
    font-family: FontAwesome;
    top: 10px;
    right: 17px;
    content: '\f067';
    border: none;
}

.st-menu > ul > li.hasSub:not(.hasMegamenu) > .navPage-subMenu ul > li.hasSub > span.toggle-close::before {
    font-family: FontAwesome;
    top: 10px;
    right: 17px;
    content: '\f068';
    border: none;
}

.st-menu ul li a {
    font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 13px 20px 12px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000;
    outline: none;
}

.st-menu > ul > li > a:hover {
    color: #fff;
    background: #000;
}

.st-menu > ul > li.hasSub:hover > a {
    color: #fff;
    background: #000;
}

.st-menu ul li ul li a {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    text-transform: none;
}

.st-menu ul li:last-child > a {
    border-bottom: 0;
}

.st-menu ul li.hasSub {
    position: relative;
}

.st-menu ul li span.toggle-expand,
.st-menu ul li span.toggle-close {
    position: absolute;
    top: 3px;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.st-menu ul li span.toggle-expand::before {
    position: absolute;
    top: 17px;
    right: 16px;
    content: '';
    border: 5px solid transparent;
    border-top: 5px solid #000;
}

.st-menu > ul > li:hover > span.toggle-expand::before {
    border-top-color: #fff;
}

.st-menu ul li span.toggle-close::before {
    position: absolute;
    top: 11px;
    right: 16px;
    content: '';
    border: 5px solid transparent;
    border-bottom: 5px solid #000;
}

.st-menu > ul > li:hover > span.toggle-close::before {
    border-bottom-color: #fff;
}

.st-menu ul li.expanded > a {
    color: #000;
}

.st-menu > ul > li.expanded:hover > a {
    color: #fff;
    background: #000;
}

.st-menu ul li .navPage-subMenu,
.st-menu ul li .subMegaMenu {
    display: none;
    border-bottom: 1px solid #e5e5e5;
    & .container {
        width: 100%;
    }
}

.st-menu ul li.hasSub.expanded .navPage-subMenu,
.st-menu ul li .subMegaMenu.sub-expand {
    display: block;
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul li.hasSub > ul {
    display: none;
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul li.hasSub.expanded > ul {
    display: block;
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul > li.hasSub > ul > li > a {
    font-weight: 400;
    padding-left: 15px;
    text-transform: none;
}

.st-menu ul li.hasSub > ul.navPage-childList > li > a {
    padding-left: 15px;
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul > li.hasSub > span.toggle-expand::before {
    font-family: FontAwesome;
    top: 10px;
    right: 17px;
    content: '\f067';
    border: none;
}

.st-menu ul li.hasMegamenu.hasSub > .subMegaMenu ul > li.hasSub > span.toggle-close::before {
    font-family: FontAwesome;
    top: 10px;
    right: 17px;
    content: '\f068';
    border: none;
}

.st-menu > ul > li:last-child {
    margin-bottom: 100px;
}

#mobile-categories .cateArea {
    width: 100% !important;
    height: auto !important;
}

#mobile-categories .cateArea > ul {
    max-height: 100% !important;
}

#mobile-categories .imageArea {
    width: 100% !important;
    & .col-left {
        float: none;
        clear: both;
        padding: 0;
        width: 100%;
        & a + a {
            margin-top: 0;
        }
    }
    & .col-right {
        float: none;
        clear: both;
        padding: 0;
        width: 100%;
    }
}

#mobile-categories .container {
    min-width: auto;
    padding: 0;
}

#mobile-categories .container .row {
    margin: 0;
}

#mobile-categories .subMegaMenu {
    width: 100% !important;
    overflow: hidden;
    & img {
        width: 100%;
    }
}

#mobile-categories .subMegaMenu > div,
#mobile-categories .subMegaMenu .container > div {
    max-width: 290px !important;
}

#mobile-categories .bottomCate {
    display: none;
}

#mobile-categories .triangle-with-shadow {
    display: none;
}

#mobile-categories {
    .subMegaMenu .imageArea .shop-by-brands label {
        padding-left: 20px;
    }
    .subMegaMenu .imageArea .shop-by-brands ul li {
        width: 100%;
        padding: 10px;
    }
}


/* Individual effects */


/* Effect: Push*/

.st-effect-1.st-menu-open .st-pusher,
.st-effect-2.st-menu-open .st-pusher,
.st-effect-3.st-menu-open .st-pusher {
    -webkit-transform: translate3d(290px, 0, 0);
    -moz-transform: translate3d(290px, 0, 0);
    -ms-transform: translate3d(290px, 0, 0);
    -o-transform: translate3d(290px, 0, 0);
    transform: translate3d(290px, 0, 0);
}

.st-effect-1.st-menu,
.st-effect-2.st-menu,
.st-effect-3.st-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu,
.st-effect-2.st-menu-open .st-effect-2.st-menu,
.st-effect-3.st-menu-open .st-effect-3.st-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -webkit-transform .3s;
    -ms-transition: -webkit-transform .3s;
    -o-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.st-effect-1.st-menu::after,
.st-effect-2.st-menu::after,
.st-effect-3.st-menu::after {
    display: none;
}


/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */

.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
    padding-left: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
.st-menu .login-register {
    .logged-in{
        padding: 13px 20px 12px;
    }
    .logout-mb{
        color: #07719d;
        padding-top: 0;
    }
}
