<div class="storeLocation">
   <h3>Store Information</h3>
   <!--<p class="store-info">Splash Dive Limited</p>
   <div class="store-address">{{nl2br settings.address}}</div>
   <div class="store-email">Email: <a href="mailto:sales@splash.co.nz">sales@splash.co.nz</a></div>
   <div class="store-phone">Toll-free: <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a></div> --> 
   <label><strong>Opening Hours:</strong></label>
   <div class="item1">Monday to Friday: 6:30am - 3pm</div>
   <br>
   <label><strong>Splash Dive - Head Office</strong></label>
   <div class="item1">50a Anzac Road, Browns Bay,<br>North Shore, Auckland, New Zealand</div>
   <br>
   <label><strong>Head Office Contact Details</strong></label>
   <div>Phone <a href="tel:+6494750071">+64 9 475 0071</a></div>
   <div class="store-email">Email: <a href="mailto:sales@splash.co.nz">sales@splash.co.nz</a></div>
</div>
