<div id="google-map">
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12792.801789798372!2d174.7446193!3d-36.7177469!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2f2a3da3a89e10a3!2sSplash+Dive!5e0!3m2!1sen!2snz!4v1557372947830!5m2!1sen!2snz" width="1170" height="456" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
