<!-- @HaloMegaMenu Library -->
<script src="{{cdn '/assets/js/theme/halothemes/haloMegaMenu.js'}}" defer></script>

<script>
$(document).ready(function() {
    //Megamenu Settings 

	menuItem(1).HaloMegaMenu({
        dropAlign: '',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '80%',     // width of categories area
        imageAreaWidth: '20%',    // width of images area
        cateColumns: 4,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<a href="/scuba/"><img src="/product_images/uploaded_images/cat-scuba.jpg"/></a>'
    });
	
	menuItem(2).HaloMegaMenu({
        dropAlign: '',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '80%',     // width of categories area
        imageAreaWidth: '20%',    // width of images area
        cateColumns: 4,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<a href="/spearfishing/"><img src="/product_images/uploaded_images/cat-spearfishing.jpg"/></a>'
    });

    menuItem(3).HaloMegaMenu({
        dropAlign: '',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '80%',     // width of categories area
        imageAreaWidth: '20%',    // width of images area
        cateColumns: 4,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<a href="/apnea/"><img src="/product_images/uploaded_images/cat-apnea.jpg"/></a>'
    });

    menuItem(4).HaloMegaMenu({
        dropAlign: '',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '80%',     // width of categories area
        imageAreaWidth: '20%',    // width of images area
        cateColumns: 4,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<a href="/swimming/"><img src="/product_images/uploaded_images/cat-swimming.jpg"/></a>'
    });

    menuItem(5).HaloMegaMenu({
        dropAlign: '',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '80%',     // width of categories area
        imageAreaWidth: '20%',    // width of images area
        cateColumns: 4,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<a href="watersports"><img src="/product_images/uploaded_images/cat-watersports.jpg"/></a>'
    });

    menuItem(6).HaloMegaMenu({
        dropAlign: '',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '80%',     // width of categories area
        imageAreaWidth: '20%',    // width of images area
        cateColumns: 4,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<a href="packages"><img src="/product_images/uploaded_images/cat-packages.jpg"/></a>'
    });
	
    /* 
	
	//WOMEN
    menuItem(2).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '65%',     // width of categories area
        imageAreaWidth: '35%',    // width of images area
        cateColumns: 3,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<a href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-image-1.jpg"/></a>'
    });


    //MEN
    menuItem(3).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',   // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '50%',     // width of categories area
        imageAreaWidth: '50%',    // width of images area
        cateColumns: 2,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        images: '<div class="col-left">\
                    <a href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-image-2.jpg"/></a>\
                    <a href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-image-3.jpg"/></a>\
                </div>\
                <div class="col-right">\
                    <a href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-image-4.jpg"/></a>\
                </div>\
                <div class="shop-by-brands">\
                    <label>Shop By Brands</label>\
                    <ul>\
                        <li><a href="#placeholder_link"><img src="/product_images/uploaded_images/brand-logo-1.jpg" alt=""></a></li>\
                        <li><a href="#placeholder_link"><img src="/product_images/uploaded_images/brand-logo-2.jpg" alt=""></a></li>\
                        <li><a href="#placeholder_link"><img src="/product_images/uploaded_images/brand-logo-3.jpg" alt=""></a></li>\
                    </ul>\
                </div>'
    });


    //SNOWBOARD
    menuItem(4).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageRight',    // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        cateAreaWidth: '60%',     // width of categories area
        imageAreaWidth: '40%',    // width of images area
        cateColumns: 3,           // columns of categories area - max 5 columns
        bottomCates: '<a href="#placeholder_link" title=""><img src="/product_images/uploaded_images/megamenu-image-bottom.jpg" alt="" /></a>',
        // contents for images column (HTML supported)
        images: '<div class="featured-categories">\
                    <h4>Featured Categories</h4>\
                    <ul class="owl-carousel">\
                        <li class="cate-item">\
                            <a class="cate-img" href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-product-image-1.jpg" alt="Cosmopolis" /></a>\
                            <a class="cate-name" href="#placeholder_link">Cosmopolis</a>\
                            <p class="cate-desc">Phasellus lorem malesuada ligula pulvinar commodo maecenas suscipit auctom</p>\
                            <a class="cate-shop-now" href="#placeholder_link">Shop Now</a>\
                        </li>\
                        <li class="cate-item">\
                            <a class="cate-img" href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-product-image-2.jpg" alt="Cosmopolis" /></a>\
                            <a class="cate-name" href="#placeholder_link">Cosmopolis</a>\
                            <p class="cate-desc">Phasellus lorem malesuada ligula pulvinar commodo maecenas suscipit auctom</p>\
                            <a class="cate-shop-now" href="#placeholder_link" title="Shop Now">Shop Now</a>\
                        </li>\
                        <li class="cate-item">\
                            <a class="cate-img" href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-product-image-1.jpg" alt="Cosmopolis" /></a>\
                            <a class="cate-name" href="#placeholder_link">Cosmopolis</a>\
                            <p class="cate-desc">Phasellus lorem malesuada ligula pulvinar commodo maecenas suscipit auctom</p>\
                            <a class="cate-shop-now" href="#placeholder_link" title="Shop Now">Shop Now</a>\
                        </li>\
                        <li class="cate-item">\
                            <a class="cate-img" href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-product-image-2.jpg" alt="Cosmopolis" /></a>\
                            <a class="cate-name" href="#placeholder_link">Cosmopolis</a>\
                            <p class="cate-desc">Phasellus lorem malesuada ligula pulvinar commodo maecenas suscipit auctom</p>\
                            <a class="cate-shop-now" href="#placeholder_link" title="Shop Now">Shop Now</a>\
                        </li>\
                    </ul>\
                </div>'
    });


    //HIKE & CAMP
    menuItem(5).HaloMegaMenu({
        dropAlign: 'fullWidth',   // Dropdown MegaMenu Alignment: left, right, center, fullWidth
        dropWidth: '800px',       // Width of Dropdown MegaMenu (if dropAlign: fullWidth => dropWidth auto set 100%)
        dropType: 'imageTop',     // Type of Dropdown MegaMenu content: imageLeft, imageRight, noImage
        imageAreaWidth: '0%',     // width of images area
        cateAreaWidth: '100%',    // width of categories area
        cateColumns: 5,           // columns of categories area - max 5 columns
        // contents for images column (HTML supported)
        imagesTop: ['<a href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-image-5.jpg"/></a>',
            '<a href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-image-6.jpg"/></a>',
            '<a href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-image-7.jpg"/></a>',
            '<a href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-image-8.jpg"/></a>',
            '<a href="#placeholder_link"><img src="/product_images/uploaded_images/megamenu-image-9.jpg"/></a>'
        ]
    });
	
	*/
});
</script>


