<div id="homeBrands" class="wow fadeIn">
    <div class="container">
    	<h2 class="module-heading"><span>TOP BRANDS</span></h2>
        <div class="owl-carousel" data-owl='{
            "items": 5,
            "nav": true,
            "margin": 30,
            "dots": false,
            "slideBy": 5,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 2
               },
               "560": {
                  "items": 3,
                  "slideBy": 3
               },
               "768": {
                  "items": 4,
                  "slideBy": 4
               },
               "992": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 5,
                  "slideBy": 5
               }
            },
            "responsiveRefreshRate": 0
         }'>

            <a href="{{url}}/brands/Atlantis.html" title="Atlantis"><img src="/product_images/uploaded_images/brand-logo-atlantis.png" alt="Atlantis"/></a>
            <a href="/brands/evolve/" title="Evolve"><img src="/product_images/uploaded_images/brand-logo-evolve.png" alt="Evolve"/></a>
            <a href="/ots/" title="OTS"><img src="/product_images/uploaded_images/brand-logo-ots.png" alt="OTS"/></a>
            <a href="{{url}}/brands/Seac.html" title="Seac"><img src="/product_images/uploaded_images/seac-logo.png" alt="Seac"/></a>
            <a href="{{url}}/brands/Epsealon.html" title="Epsealon"><img src="/product_images/uploaded_images/epsealon-logo.png" alt="Epsealon"/></a>
            <a href="#placeholder_link" title="Genesis"><img src="/product_images/uploaded_images/genesis-logo.png" alt="Genesis"/></a>
            <a href="{{url}}/brands/Sherwood.html" title="Sherwood"><img src="/product_images/uploaded_images/sherwood-logo.png" alt="Sherwood"/></a>
            <a href="#placeholder_link" title="Dive Alert"><img src="/product_images/uploaded_images/divealert-logo.png" alt="Dive Alert"/></a>
        </div>
    </div>
</div>
