<div id="homeShopByCategory" class="module-wrapper wow fadeIn">
    <div class="container">
        <h2 class="module-heading"><span>Shop By Category</span></h2>
        <p class="sub-module-heading">Suspendisse miaculis placerat sapien at comodous loremous</p>
        <div class="cate-columns">
            <div class="column-item">
                <h3>Men</h3>
                <ul>
                    <li><a href="#put_category_link_here">Dincidunteros</a></li>
                    <li><a href="#put_category_link_here">Loremous</a></li>
                    <li><a href="#put_category_link_here">Comodianos</a></li>
                    <li><a href="#put_category_link_here">Gravidas</a></li>
                    <li><a href="#put_category_link_here">Montemous</a></li>
                    <li><a href="#put_category_link_here">Pellentes Habitanto</a></li>
                    <li class="more-link"><a href="#put_category_link_here">more...</a></li>
                </ul>
            </div>
            <div class="column-item">
                <h3>Women</h3>
                <ul>
                    <li><a href="#put_category_link_here">Bibendumetos</a></li>
                    <li><a href="#put_category_link_here">Pellentes Habitanto</a></li>
                    <li><a href="#put_category_link_here">Senectus</a></li>
                    <li><a href="#put_category_link_here">Consequatod</a></li>
                    <li><a href="#put_category_link_here">Scelerisque Yurnas</a></li>
                    <li><a href="#put_category_link_here">Loremouticas</a></li>
                    <li class="more-link"><a href="#put_category_link_here">more...</a></li>
                </ul>
            </div>
            <div class="column-item">
                <h3>Hike & Camp</h3>
                <ul>
                    <li><a href="#put_category_link_here">Dincidunteros</a></li>
                    <li><a href="#put_category_link_here">Loremous</a></li>
                    <li><a href="#put_category_link_here">Comodianos</a></li>
                    <li><a href="#put_category_link_here">Gravidas</a></li>
                    <li><a href="#put_category_link_here">Montemous</a></li>
                    <li><a href="#put_category_link_here">Pellentes Habitanto</a></li>
                    <li class="more-link"><a href="#put_category_link_here">more...</a></li>
                </ul>
            </div>
            <div class="column-item">
                <h3>Bike</h3>
                <ul>
                    <li><a href="#put_category_link_here">Bibendumetos</a></li>
                    <li><a href="#put_category_link_here">Pellentes Habitanto</a></li>
                    <li><a href="#put_category_link_here">Senectus</a></li>
                    <li><a href="#put_category_link_here">Consequatod</a></li>
                    <li><a href="#put_category_link_here">Scelerisque Yurnas</a></li>
                    <li><a href="#put_category_link_here">Loremouticas</a></li>
                    <li class="more-link"><a href="#put_category_link_here">more...</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
