<div id="homeTopBanners">
    <div class="container">
    	<h2 class="module-heading pull-left"><span>FEATURED CATEGORIES</span></h2>
        <div class="clearfix"></div>
        <!-- Begin Three Square Banners -->
        <div class="row">
            <div class="col-sm-3 banner-item wow fadeIn" data-wow-delay="100ms">
                <a title="Scuba" href="/scuba/">
                    <img src="/product_images/uploaded_images/home-top-banner-1.jpg" alt="SCUBA" />
                    <div class="hover-text-bottom">
                        <h5>SHOP<br>SCUBA <i class="fa fa-caret-right"></i></h5>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 banner-item wow fadeIn" data-wow-delay="200ms">
                <a title="Spearfishing" href="/spearfishing/">
                    <img src="/product_images/uploaded_images/home-top-banner-2.jpg" alt="SPEARFISHING" />
                    <div class="hover-text-bottom">
                        <h5>SHOP<br>SPEARFISHING <i class="fa fa-caret-right"></i></h5>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 banner-item wow fadeIn" data-wow-delay="300ms">
                <a title="Apnea" href="/apnea/">
                    <img src="/product_images/uploaded_images/home-top-banner-3.jpg" alt="APNEA" />
                    <div class="hover-text-bottom">
                        <h5>SHOP<br>APNEA <i class="fa fa-caret-right"></i></h5>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 banner-item wow fadeIn" data-wow-delay="300ms">
                <a title="Swimming" href="/swimming/">
                    <img src="/product_images/uploaded_images/home-top-banner-4.jpg" alt="SWIMMING" />
                    <div class="hover-text-bottom">
                        <h5>SHOP<br>SWIMMING <i class="fa fa-caret-right"></i></h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
