<div id="homeBottomBanners" class="module-wrapper wow fadeIn">
    <div class="container">
        <div class="row">
            <!-- Begin Three Left Banners -->
            <div class="col-sm-6 banner-item wow fadeIn" data-wow-delay="200ms">
                <div class="embed-responsive embed-responsive-16by9">
                    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/tlUqrdOSz74" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </div>
            </div>
            <!-- End Three Left Banners -->
            <!-- Begin One Right Banner -->
            <div class="col-sm-6 blog-box">
            	<h2 class="module-heading"><span>DIVING TIPS, ARTICLES & VIDEOS</span></h2>
                <div class="row">
                    {{#each blog.recent_posts}}
                        <div class="col-sm-4"><a href="{{url}}"><img src="{{getImage thumbnail 'brand_size'}}" alt="{{thumbnail.alt}}"></a></div>
                        <div class="col-sm-8">
                            <h5><a href="{{url}}">{{title}}</a></h5>
                            <p>{{summary}}</p>
                        </div>
                    {{/each}}
            	</div>
            </div>
            <!-- End One Right Banner -->
        </div>
    </div>
</div>
