<!-- Begin Halo Newsletter Popup -->
<div id="halo-newsletter-popup" class="hide">
    <div class="popup-overlay"></div>
    <div class="newsletter-popup-container">
        <div class="newsletter-popup-inner">
            <button title="Close" type="button" data-close-newsletter-popup>×</button>
            <div class="newsletter-left">
                <h2 class="newsletter-heading">Join our loyalty program</h2>
                <p class="newsletter-sub-heading">Unlock exciting perks & exclusive rewards. Sign up and get
                    <span class="dollars-off">$5 off</span> your first order!</p>
                <div id="popupSubcribeForm">
                    <form class="form" action="{{urls.subscribe.action}}" method="post" id="popupSubcribeFormSubmit">
                        <fieldset class="form-fieldset">
                            <input type="hidden" name="action" value="subscribe">
                            <input type="hidden" name="check" value="1">
                            <div class="form-field">
                                <div class="form-wrap">
                                    <div>
                                        <input class="form-input" id="nl_email" name="nl_email" type="email" placeholder="{{lang 'newsletter.email_placeholder'}}">
                                    </div>
                                </div>
                                <input class="btn btn-primary btn-subcribe" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <p class="newsletter-message">Order must total $100 (excluding delivery charges) for the $5 coupon to be applied. Discount cannot be used in conjuction or combined with other promotions. Can only be redeemed online. Entering
                    your email also makes you eligible to receive future promotional emails</p>
            </div>
            <div class="newsletter-right">
                <img src="/product_images/uploaded_images/newsletter-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End Halo Newsletter Popup -->
