<section class="toggle productCustomTab" data-accordion-item>
    <h3 class="toggle-title">
        Shipping & Returns
        <i class="fa fa-angle-down"></i>
    </h3>

    <div class="toggle-content" id="productCustomTab-content">
        <p>
            <strong>
                <h5>Returns Policy</h5>
            </strong>
            <br>
            <span>
                <h4>30-Day Refund</h4>
            </span>
            <span>We are absolutely committed to making sure you're happy with your purchase. You can return any product purchased from
                splashdive.com.au in an unused, brand new condition within 30 days of the date of the purchase and we will refund
                your money back. Please advise us by email and include a printout of your original invoice if you return a product
                to us.</span>
            <br>
            <br>
            <span>
                <h4>Perfect Fit Guarantee</h4>
            </span>
            <span>Please use our indicative sizing guides which show height and weight ranges and other measurements to choose your size.
                If you have any queries about size, you can advise us when you complete your purchase in the comments field. We will
                contact you and make sure we're sending you the best possible size. If you receive an item and it doesn't fit to
                your satisfaction, you can return it to us in an unused, brand new condition and we will send another size free of
                charge. Please advise us by email and include a printout of your original invoice if you return a product to us.</span>
            <br>
            <br>
            <strong>
                <h5><strong>Shipping</strong></h5>
            </strong>
            <ul>
                    <li><strong>Free Shipping for orders over $100</strong></li>
                    <li>Standard Shipping: $14.95</li>
                    <li>Standard Shipping Tracked: $19.95</li>
                    <li>Fast Shipping Tracked: $24.95 (1-3 days)</li>
                    </ul>
            <br>
            <span>Once your payment has cleared, your order will be packed and dispatched within our 48-hour guarantee.</span>
            <br>
            <br>
            <span>
                <h4>How long will it take to get my order to me?</h4>
            </span>
            <span>We use tracked International EMS Post for 3-10 days delivery anywhere in Australia.</span>
        </p>
    </div>
</section>
