<div id="homeBrands" class="wow fadeIn">
    <div class="container">
        <h5>
            <span>What Our Customers Have Said</span>
        </h5>
        <div class="owl-carousel" data-owl='{
            "items": 4,
            "nav": true,
            "margin": 30,
            "dots": false,
            "loop":true,
            "autoplay":1000,
            "slideBy": 4,
            "responsive": {
               "0": {
                  "items": 1,
                  "slideBy": 1
               },
               "420": {
                  "items": 2,
                  "slideBy": 2
               },
               "560": {
                  "items": 3,
                  "slideBy": 3
               },
               "768": {
                  "items": 4,
                  "slideBy": 4
               },
               "992": {
                  "items": 4,
                  "slideBy": 4
               },
               "1200": {
                  "items": 4,
                  "slideBy":4
               }
            },
            "responsiveRefreshRate": 0
         }'>

            <p>"Hey! Received my item super quickly!!! So satisfied its not even funny! Fantastic deal guys, thanks heaps and heaps. I have
            been recommending you since yesterday to my fellow dredge buddies. :) Thanks tons." <br><br><b>Bryan - Victoria, Australia</b></p>
            <p>"Easy transaction, ultra fast shipping. Very happy and will definitely be back!" <br><br><b>Rhys - Melbourne, Australia</b></p>
            <p>"Excellent Company to deal with. Exceptional service and a very quick delivery time."<br><br><b>Sean - Doncaster East, Australia</b></p>
            <p>"Wow what an awesome wetsuit and was delivered very fast - very impressed. AAA rating!!"<br><br><b>Ian - Panania, Australia</b></p>
            <p>"WOW super fast postage, 5 star Splash, excellent items! Thanks."<br><br><b>Darren - Newcastle, Australia</b></p>
            <p>"Great communication. Answered all my questions professionally. Called me back to confirm questions on an item. Goods arrived on time and in the condition
            l expected. These guys are highly recommended, buy with confidence."<br><br><b>Jason - Melbourne, Australia</b></p>
            <p>"My wife and I purchased two full sets of gear from Splash. They are great bunch of blokes to deal with. Service,
            price and product were great. Very easy to deal with. Highly recommend to anyone wanting dive gear."<br><br><b>David - Grantville, Australia</b></p>
            <p>"Fantastic wetsuit - excellent service!"<br><br><b>Dianne - Mortlake, Australia</b></p>
            <p>"Wow what a suit - recommendation given was perfect and fits and looks great, great people to deal with 10/10."<br><br><b>John - Bowen
            Hills, Australia</b></p>
            <p>"One of the best online purchases I have made - thank you so much. I got the wetsuit today - so quick. A cool wettie backed
            with such a service that I am just gobsmacked. You guys run a tight show - thanks for making it happen and keeping this transaction
            so easy. a good buy all the way!"<br><br><b>Toby - Dapto, NSW, Australia</b></p>
        </div>
    </div>
</div>
