{{#if product_results.products.length}}
<div class="product-pagination top">
    {{> components/halothemes/product-display-mode-buttons}}
    {{> components/products/filter sort=pagination.product_results.sort}}
</div>
{{/if}}

<form action="{{urls.compare}}" method='POST' data-product-compare>
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{> components/products/grid products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings columns=theme_settings.categorypage_products_column_count}}
    {{else}}
        {{> components/products/list products=product_results.products show_compare=product_results.show_compare theme_settings=theme_settings columns=theme_settings.categorypage_products_column_count}}
    {{/if}}
</form>


{{#if product_results.products.length}}
<div class="product-pagination bottom">

    {{> components/common/paginator pagination.product_results}}

    {{#if product_results.show_compare}}
    <div class="compare-link">
        <a class="btn btn-alt" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}}<span class="countPill countPill--positive countPill--alt"></span></a>
    </div>
    {{/if}}

</div>
{{/if}}
