<table class="cart" data-cart-quantity="{{cart.quantity}}">
    <thead class="cart-header">
        <tr>
            <th class="cart-header-item" colspan="2">{{lang 'cart.checkout.item'}}</th>
            <th class="cart-header-item">{{lang 'cart.checkout.price'}}</th>
            <th class="cart-header-item cart-header-quantity">{{lang 'cart.checkout.quantity'}}</th>
            <th class="cart-header-item">{{lang 'cart.checkout.total'}}</th>
        </tr>
    </thead>
    <tbody class="cart-list">
        {{#each cart.items}}
            <tr class="cart-item" data-item-row>
                <td class="cart-item-block cart-item-figure">
                    {{#if type '==' 'GiftCertificate'}}
                        <img class="cart-item-fixed-image" src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                    {{else}}
                        <img class="cart-item-image" src="{{getImage image 'cart_productthumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                    {{/if}}
                </td>
                <td class="cart-item-block cart-item-title">
                    {{#if brand.name}}
                        <p class="cart-item-brand">{{brand.name}}</p>
                    {{/if}}
                    <h4 class="cart-item-name"><a href="{{url}}">{{name}}</a></h4>
                    {{#if release_date}}
                        <p>({{release_date}})</p>
                    {{/if}}

                    {{#if configurable_fields}}
                        <dl class="definitionList">
                            {{#each configurable_fields}}
                                <dt class="definitionList-key">{{name}}:</dt>
                                <dd class="definitionList-value">
                                    {{#if is_file}}
                                        <a href="/viewfile.php?prodfield={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                                    {{else}}
                                        {{{value}}}
                                    {{/if}}
                                </dd>
                            {{/each}}
                        </dl>
                    {{/if}}

                    {{#if options}}
                        <dl class="definitionList">
                            {{#each options}}
                                <dt class="definitionList-key">{{name}}:</dt>
                                <dd class="definitionList-value">
                                    {{#if is_file}}
                                        <a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                                    {{else}}
                                        {{{value}}}
                                    {{/if}}
                                </dd>
                            {{/each}}
                        </dl>
                    {{/if}}

                    {{#or options configurable_fields}}
                        <a href="#" data-item-edit="{{id}}">{{lang 'cart.checkout.change'}}</a>
                    {{/or}}

                    {{#if type '==' 'GiftCertificate'}}
                        <a href="{{edit_url}}">{{lang 'cart.checkout.change'}}</a>
                    {{/if}}
                    {{> components/cart/item-giftwrap this}}
                    {{#if event_date}}
                        <dl class="cart-item-options">
                            <dt class="cart-item-option-title">
                                {{event_date.name}}
                            </dt>

                            <dd class="cart-item-option-description">
                                {{event_date.date}}
                            </dd>
                        </dl>
                    {{/if}}

                </td>
                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">{{lang 'cart.checkout.price'}}</span>
                    <strong class="cart-item-value {{#if price_discounted}}price--discounted{{/if}}">{{price.formatted}}</strong>
                    <p class="gst">incl GST</p>
                    {{#if price_discounted}}
                        <strong class="cart-item-value">{{price_discounted.formatted}}</strong>
                    {{/if}}
                </td>

                <td class="cart-item-block cart-item-info cart-item-quantity">

                    <label class="form-label cart-item-label" for="qty-{{id}}">{{lang 'products.quantity'}}</label>
                    <div class="form-increment">
                        {{# if can_modify}}
                            <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
                                <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                                <i class="fa fa-angle-down"></i>
                            </button>
                        {{/if}}
                        <input data-cart-itemid="{{id}}" class="form-input form-input--incrementTotal"
                               id="qty-{{id}}"
                               name="qty-{{id}}"
                               type="tel"
                               value="{{quantity}}"
                               data-quantity-min="{{min_purchase_quantity}}"
                               data-quantity-max="{{max_purchase_quantity}}"
                               data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                               data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                               min="1"
                               pattern="[0-9]*"
                               aria-live="polite"{{#unless can_modify}} disabled{{/unless}}>
                        {{# if can_modify}}
                            <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                                <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                                <i class="fa fa-angle-up"></i>
                            </button>
                        {{/if}}
                    </div>

                    <div class="cart-remove-button">
                    {{# if can_modify}}
                        <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <svg><use xlink:href="#icon-close"></use></svg><span>{{lang 'common.delete'}}</span>
                        </a>
                    {{else}}
                        {{#if type '==' 'GiftCertificate'}}
                            <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                                <svg><use xlink:href="#icon-close"></use></svg><span>{{lang 'common.delete'}}</span>
                            </a>
                        {{/if}}
                    {{/if}}
                    </div>
                </td>

                <td class="cart-item-block cart-item-info">
                    <span class="cart-item-label">{{lang 'cart.checkout.total'}}</span>
                    <strong class="cart-item-value {{#if total_discounted}}price--discounted{{/if}}">{{total.formatted}}</strong>
                    {{#if total_discounted}}
                        <strong class="cart-item-value">{{total_discounted.formatted}}</strong>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
