<div class="modal-header">
    <h2 class="modal-header-title">
        {{lang 'cart.added_to_cart.what_next' num_products=cart.quantity}}
    </h2>
</div>

<div class="modal-body">
    <div class="previewCart">
        <section class="previewCartCheckout">
            {{#if cart.show_primary_checkout_button}}
                <a href="{{urls.checkout.single_address}}" class="btn btn-checkout btn-lg">
                    {{lang 'cart.added_to_cart.proceed_to_checkout'}}
                </a>
            {{/if}}

            <div class="previewCartCheckout-additionalCheckoutButtons">
                {{#each cart.additional_checkout_buttons}}
                    {{{this}}}
                {{/each}}
            </div>

            {{#if cart.show_multiple_address_shipping}}
                <div class="previewCartAction-checkoutMultiple">
                    <a href="{{urls.checkout.multiple_address}}">
                        {{lang 'cart.preview.checkout_multiple'}}
                    </a>
                </div>
            {{/if}}

            <div class="previewCartCheckout-subtotal">
                {{lang 'cart.added_to_cart.order_subtotal'}}

                <strong class="previewCartCheckout-price">
                    {{cart.sub_total.formatted}}
                </strong>
            </div>

            <p data-cart-quantity="{{cart.quantity}}">
                {{lang 'cart.added_to_cart.your_cart_contains' num_products=cart.quantity}}
            </p>

            <a href="#" class="btn btn-alt" role="button" data-reveal-close>
                {{lang 'cart.added_to_cart.continue_shopping'}}
            </a>

            <a href="{{urls.cart}}" class="btn btn-alt">
                {{lang 'cart.added_to_cart.view_or_edit_cart'}}
            </a>
        </section>
        <section class="productView">
            {{#with cart.added_item}}
                <figure class="productView-image">
                    <img class="productView-image--cart"
                         src="{{getImage image 'product_size' (cdn ../theme_settings.default_image_product)}}"
                         alt="{{image.alt}}"
                         title="{{image.alt}}" />
                </figure>

                <div class="productView-details">
                    <div class="productView-brand">
                        {{brand.name}}
                    </div>

                    <h4 class="productView-title">
                        {{name}}
                    </h4>

                    <div class="productView-price">
                        <span>{{quantity}} &times;</span> {{price.formatted}}
                        <p class="gst">incl GST</p>
                    </div>

                    {{#each configurable_fields}}
                        <dl class="productView-info">
                            <dt class="productView-info-name">
                                {{name}}
                            </dt>
                            {{#if is_file}}
                                <a href="/viewfile.php?prodfield={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                            {{else}}
                                {{{value}}}
                            {{/if}}
                        </dl>
                    {{/each}}

                    {{#each options}}
                        <dl class="productView-info">
                            <dt class="productView-info-name">
                                {{name}}
                            </dt>
                            <dd class="productView-info-value">
                                {{value}}
                            </dd>
                        </dl>
                    {{/each}}
                </div>
            {{/with}}
        </section>
    </div>

    {{#if cart.suggested_products}}
    <div id="mayAlsoLike" class="module-wrapper">
        <h3><span>{{lang 'cart.added_to_cart.you_might_also_like'}}&hellip;</span></h3> 
        {{> components/products/may-also-like-carousel products=product.similar_by_views columns=4}}
    </div>
    {{/if}}
</div>
