// =============================================================================
// TABS (CSS)
// =============================================================================
//
// Most of these styles deliberately reset Citadel's defaults for smaller
// screens since the styles in Stencil for smaller screens are more persistent
// across breakpoints.
//
// -----------------------------------------------------------------------------

.tab {
    border-top: $tab-active-border;
    float: none;

    @include breakpoint("medium") {
        border-top-color: $tab-title-border-color;
        float: left;
    }

    &.is-active {
        border-left-color: $tab-title-border-color;
        border-right-color: $tab-title-border-color;

        @include breakpoint("small") {
            margin-bottom: $tab-title-border-bottom-offset;
        }

        @include breakpoint("medium") {
            border: $tab-active-border;
            border-bottom: $tab-title-border;
        }
    }
}

.tab-title {
    padding: spacing("half") + spacing("quarter") 0;
    text-align: center;
    text-decoration: $tab-title-text-decoration;

    @include breakpoint("small") {
        text-align: left;
    }

    @include breakpoint("medium") {
        padding: spacing("half") spacing("single");
    }
}


//
// State for when tab-content has js generated of calculated content, like carousel
//
// Purpose: The content being display: none, means any js calculated dimensions
// are incorrect as the elements inside the tab-content have no dimensions to grab.
// Carousel is a prime example. It needs widths to calculate the layout and slides
// -----------------------------------------------------------------------------

.tab-content.has-jsContent {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;

    &.is-active {
        height: auto;
        overflow: visible;
        padding: 1.5rem;
        visibility: visible;
        border-bottom: 1px #f2f2f2 solid;
    }
}

.tab-title {
    &:hover, &:active, &:focus, &:visited {
        border: none;
        outline: none;
    }
}