// =============================================================================
// SOCIAL LINKS (CSS)
// =============================================================================
.social-icons {
    margin: 0;
    margin-top: 2px;
    padding-right: 36px;
    display: flex;
    div {
        padding: 0 10px 0 0;
    }
    h5{
        color:#000;
    }
    @media(max-width: 767px) {
        justify-content: center;
        div {
            padding: 10px;
        }
    }
    .last-social {
        margin-right: 0;
    }
}

.social-icons li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.social-icons-title {
    margin: 0 !important;
    font-size: 15px !important;
    text-align: left !important;
    color: #333 !important;
}

.social-icons a {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 10%;
    text-align: center;
    & svg {
        width: 11px;
        fill: #000;
    }
    &:hover svg {
        fill: #fff;
    }
    &.icon--facebook:hover {
        background: rgba(74, 115, 189, 1);
    }
    &.icon--twitter:hover {
        background: rgba(70, 176, 226, 1);
    }
    &.icon--google:hover {
        background: rgba(234, 59, 2, 1);
    }
    &.icon--instagram:hover {
        background: rgba(251, 51, 88, 1);
    }
    &.icon--rss:hover {
        background: rgba(249, 188, 46, 1);
    }
    &.icon--pinterest:hover {
        background: rgba(204, 33, 39, 1);
    }
    &.icon--tumblr:hover {
        background: rgba(51, 70, 93, 1);
    }
    &.icon--youtube:hover {
        background: rgba(207, 52, 39, 1);
    }
    &.icon--linkedin:hover {
        background: rgba(0, 119, 181, 1);
    }
    &.icon--stumbleupon:hover {
        background: rgba(235, 73, 36, 1);
    }
}

.black-icons .social-icons a {
    background-color: #000;
    & svg {
        fill: #fff;
    }
}
