// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    margin-bottom: spacing("single");

    @include breakpoint("medium") {
        margin: auto;
        width: 100%;
    }

    + .blog {
        border-top: container("border");
        margin-top: spacing("double");
        padding-top: spacing("double");
    }

    .tags {
        margin-top: spacing("double");
        text-align: left;
    }

    .socialLinks {
        text-align: left;
    }

    // scss-lint:disable SelectorFormat
    .addthis_toolbox {
        margin-top: spacing("double");
    }
    // scss-lint:enable SelectorFormat
}

.blog-title {
    font-size: 24px;
    margin: 0 0 spacing("base") 0;
    font-family: $fontFamily-headings;
    letter-spacing: 0;
    font-weight: 700;
    @media (max-width: 480px) {
        font-size: 20px;
    }
    a {
        text-decoration: none;
    }
}

.blog-date,
.blog-author {
    color: stencilColor("color-textSecondary");
    text-align: left;
}
.blog-date {
    margin-bottom: 25px;
}
.blog-author {
    margin-bottom: spacing("single") + spacing("base");
}

.blog-post {
    font-size: fontSize("base");
    text-align: left;
    margin-bottom: 20px;
}

.blog-thumbnail {
    margin: 0 0 (spacing("base") * 2);
}

.blog-post-figure {
    display: block;
    margin: auto;
    text-align: left;

}

.blog-post-body {
    display: block;
    margin: 0 auto;
    text-align: left;
    width: 100%;

}

.btn.blog-readmore {
    border-width: 1px;
    font-size: fontSize("tiny");
    margin-bottom: 20px;
    border-color: #7d7d7d;
    padding-left: 15px;
    padding-right: 15px;
    &:hover {
        border-color: #000;
    }
    & ~ ul.tags {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.blog-post > div >div {
    width: 100% !important;
}
