// =============================================================================
// PANELS (CSS)
// =============================================================================


.panel-title {
    font-size: 30px;
    font-weight: 700;
}

.panel--large {

    .panel-body {
        margin-bottom: spacing("single") + spacing("third");
        padding: spacing("single") + spacing("third");
    }
}
