// =============================================================================
// PRODUCT GRID (CSS)
// =============================================================================
// Product grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .products class.
//
// -----------------------------------------------------------------------------
.productGrid {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0; // 1
    margin-bottom: spacing("single");
    .product {
        @include grid-column(6, $float: none);
        display: inline-block;
        font-size: fontSize("base"); // 1
        vertical-align: top;
        @include breakpoint("small") {
            width: grid-calc(4, $total-columns);
        }
        @include breakpoint("medium") {
            width: grid-calc(3, $total-columns);
        }
    }
}

// Product when sidebar is present
// -----------------------------------------------------------------------------
//
// 1. When the sidebar is visible, reduce products to 3 across.
//
// -----------------------------------------------------------------------------
.page-sidebar + .page-content {
    .productGrid {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            // 1
            @include breakpoint("small") {
                width: grid-calc(4, $total-columns);
            }
        }
    }
}

//
// Product Grid with masonry layout
//
// Purpose: Display products in a masonry grid, with a display inline-block for
// older browsers that don't support css multicolumn
//
// 1. Some older browser support. This class comes from Modernizr
// -----------------------------------------------------------------------------
.productMasonry {
    column-count: 2;
    column-fill: auto;
    column-gap: remCalc(20px);
    margin: 0 0 spacing("single");
    overflow: hidden;
    @include breakpoint("small") {
        column-count: 3;
    }
    @include breakpoint("medium") {
        column-count: 4;
    }
    .product {
        break-inside: avoid;
        display: block;
        margin-bottom: spacing("double");
        padding: 0;
        width: 100%;
    }
    .card {
        margin: 0;
    }
    .no-csscolumns & {
        // 1
        @include u-listBullets("none");
        @include grid-row($behavior: "nest");
        font-size: 0;
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include grid-column(3, $float: none);
            display: inline-block;
            font-size: fontSize("base"); // 1
            vertical-align: top;
        }
        .card {
            margin: 0;
        }
    }
}

// Product grid view variation
// -----------------------------------------------------------------------------
.productGrid--maxCol6 {
    .no-csscolumns & {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include breakpoint("medium") {
                width: grid-calc(2, $total-columns);
            }
        }
    }
    .csscolumns & {
        @include breakpoint("medium") {
            column-count: 6;
        }
    }
}

.productGrid--maxCol3 {
    .no-csscolumns & {
        // scss-lint:disable SelectorDepth, NestingDepth
        .product {
            @include breakpoint("medium") {
                width: grid-calc(4, $total-columns);
            }
        }
    }
    .csscolumns & {
        @include breakpoint("medium") {
            @include grid-column(12);
            // scss-lint:disable SelectorDepth, NestingDepth
            .product {
                @include grid-column(4);
            }
        }
    }
}

.module-wrapper {
    & .productBlockContainer {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        @media (max-width: 480px) {
            margin-left: -10px;
            margin-right: -10px;
        }
        &.columns-5 .prod-item {
            width: 20%;
        }
        &.columns-4 .prod-item {
            width: 25%;
        }
        &.columns-3 .prod-item {
            width: 33.33%;
        }
        &.columns-2 .prod-item {
            width: 50%;
        }
        &.columns-1 .prod-item {
            width: 100%;
        }
        @media (max-width: 1199px) {
            &.columns-5 .prod-item {
                width: 25%;
            }
        }
        @media (max-width: 767px) {
            &.columns-5 .prod-item {
                width: 33.33%;
            }
            &.columns-4 .prod-item {
                width: 33.33%;
            }
        }
        @media (max-width: 640px) {
            &.columns-5 .prod-item {
                width: 50%;
            }
            &.columns-4 .prod-item {
                width: 50%;
            }
            &.columns-3 .prod-item {
                width: 50%;
            }
        }
    }
}

#product-listing-container {
}

#product-listing-container .module-wrapper {
    margin-bottom: 20px;
    @media (min-width: 992px) and (max-width: 1199px) {
        & .productBlockContainer.columns-4 .prod-item {
            width: 33.33%;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        & .productBlockContainer.columns-4 .prod-item {
            width: 50%;
        }
    }
}

.prod-item {
    margin-bottom: 0px;
    & article.card {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        align-content: stretch;
        align-items: stretch;
        width: 100%;
    }
    .btn-compare {
        display: none;
        cursor: pointer;
        & input {
            display: none;
        }
        @media (max-width: 991px) {
            display: block;
        }
    }
    a.btnWL {
        font-size: 18px;
        text-align: center;
    }
    & .prod-image {
        position: relative;
        margin-bottom: 24px;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: 480px) {
            min-height: auto;
            margin-bottom: 115px;
            & .actions {
                width: 100%;
            }
        }
        @media (max-width:375px) {
						margin-bottom: 70px;
                    }
        @media (max-width:359px) {
            margin-bottom: 15px;
        }
        & > a {
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            align-content: center;
        }
        & .actions > a.btnWL {
            position: absolute;
            top: -25px;
            left: -5px;
            display: inline-block;
            padding: 5px;
            width: 30px;
        }
        & .actions > .btnQV {
            font-family: stencilFontFamily('body-secondary-font'), Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: 700;
            position: absolute;
            bottom: 0;
            width: 140px;
            left: 0;
            right: 0;
            height: 22px;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #fff;
            border: 0;
            background-color: rgba(0, 0, 0, .7);
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            &:hover {
                text-decoration: none;
            }
            @media (max-width: 480px) {
                width: 100%;
            }
        }
        & .actions > a.btnWL,
        & .actions > .btnQV {
            opacity: 0;
            filter: alpha(opacity=0);
            visibility: hidden;
            -webkit-transition: all .3s ease 0s;
            -moz-transition: all .3s ease 0s;
            -ms-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
        }
    }
    &:hover .actions > a.btnWL,
    &:hover .actions > .btnQV {
        opacity: 1;
        filter: alpha(opacity=100);
        visibility: visible;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -ms-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    &:hover .actions > a.btnWL {
        top: -5px;
    }
    &:hover .btn-compare {
        display: block;
    }
    & .prod-desc {
        margin: 0;
        text-align: left;
        padding: 0 10px 50px;
        &[login-for-pricing] {
            padding-bottom: 0;
        }
        & .prod-brand {
            margin-bottom: 5px;
        }
        & h4.prod-name {
            margin-top: 0px;
            margin-bottom: 7px;
            font-size: fontSize("base");
            font-family: stencilFontFamily('card-title-font');
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            color: stencilColor('card-title-color');
            letter-spacing: 0;
            a {
                color: #000;
                font-size: 15px;
                text-transform: uppercase;
            }
            &:hover a {
                color: stencilColor('card-title-color-hover');
                text-decoration: none;
            }
        }
        & .prod-summary {
            display: none;
        }
        & .prod-price {
            color: stencilColor('basic-price-color');
            font-family: stencilFontFamily('card-title-font');
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 5px;
            font-weight: bold;
            & .price--rrp {
                color: stencilColor('retail-price-color');
                margin-right: 10px;
                font-style: italic;
                font-size: 14px;
                & ~ .price--withoutTax {
                    color: stencilColor('sale-price-color');
                    font-weight: 700;
                }
            }
            .price-section--saving {
                color: #000;
            }
            p[translate] {
                color: $anchor-font-color-hover;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        & .rating-compare {
            padding-top: 2px;
            margin-bottom: 15px;
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
            @media (max-width: 768px) {
            display: none;
            }
            @media (max-width: 480px) {
                flex-wrap: wrap;
                & > div {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    width: 100%;
                }
            }
        }
        @media (max-width: 991px) {
            padding-bottom: 0;
        }
    }
}

.prod-item .card .card-figure .prod-desc .mobile-hidden {
    @media (max-width: 768px) {
        display: none;
    }
}

.new-badge {
    width: 42px;
    min-height: 18px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 0;
    text-transform: uppercase;
    color: stencilColor('new-badge-color');
    border: 1px solid stencilColor('new-badge-border-color');
    background: stencilColor('new-badge-bgColor');
    border-radius: 2px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    align-items: center;
}

.sale-badge {
    width: 42px;
    min-height: 18px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 0;
    text-transform: uppercase;
    color: stencilColor('sale-badge-color');
    border: 1px solid stencilColor('sale-badge-border-color');
    background: stencilColor('sale-badge-bgColor');
    border-radius: 2px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    align-items: center;
}

.new-badge ~ .sale-badge {
    right: 47px;
}

.productView-images .new-badge {
    right: 15px;
}

.productView-images .sale-badge {
    right: 15px;
}

.productView-images .new-badge ~ .sale-badge {
    right: 62px;
}

.module-wrapper:not(.productList) {
    & .prod-item {
        background: #fff;
        position: relative;
        padding: 20px 10px 0px;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        align-content: stretch;
        align-items: stretch;
        @media (max-width: 991px) {
            padding: 15px 15px 15px;
        }
        @media (max-width: 480px) {
            padding: 15px 10px 15px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0px;
            border: 1px solid transparent;
            border-radius: 3px;
            z-index: 1;
            box-shadow: 0 0 10px #dadada;
            -moz-box-shadow: 0 1px 10px #dadada;
            -webkit-box-shadow: 0 1px 10px #dadada;
            display: none;
            @media (max-width: 991px) {
                display: none !important;
            }
        }
        &:hover::before {
            border-color: #bebebe;
            display: block;
        }
        &:hover article.card {
            position: relative;
            z-index: 2;
        }
        & .card-figure {
            background: transparent;
            height: auto;
        }
        & a.btnATC {
            font-size: 13px;
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            align-items: center;
            text-align: center;
            justify-content: center;
            transition: color 0.3s ease 0s;
            -moz-transition: color 0.3s ease 0s;
            -webkit-transition: color 0.3s ease 0s;
            -ms-transition: color 0.3s ease 0s;
            -o-transition: color 0.3s ease 0s;
            color: stencilColor('grid-add-to-cart-color');
            background-color: stencilColor('grid-add-to-cart-bgColor');
            &:hover {
                color: stencilColor('grid-add-to-cart-colorHover');
                background-color: stencilColor('grid-add-to-cart-bgColorHover');
            }
            @media (min-width: 992px) {
                padding: 0 10px;
                line-height: 32px;
                position: absolute;
                bottom: 1px;
                left: -19px;
                right: -19px;
                min-height: 50px;
                border: 0;
                border-top: 1px solid #dcdcdc;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                opacity: 0;
                visibility: hidden;
                &:hover {
                    background: #f7f7f7;
                    color: $anchor-font-color-hover;
                    -webkit-box-shadow: inset 0px 10px 8px -15px rgba(0, 0, 0, 0.7);
                    -moz-box-shadow: inset 0px 10px 8px -15px rgba(0, 0, 0, 0.7);
                    box-shadow: inset 0px 10px 8px -15px rgba(0, 0, 0, 0.7);
                    transition: color 0.3s ease 0s;
                    -moz-transition: color 0.3s ease 0s;
                    -webkit-transition: color 0.3s ease 0s;
                    -ms-transition: color 0.3s ease 0s;
                    -o-transition: color 0.3s ease 0s;
                }
            }
            @media (max-width: 480px) {
                letter-spacing: 0;
                font-weight: 500;
                font-size: 10px;
                padding: 0;
            }
        }
        &:hover a.btnATC {
            opacity: 1;
            visibility: visible;
        }
    }
}

#homeFeaturedProducts.module-wrapper,
#homeNewProducts.module-wrapper {
    padding-top: 40px;
    & > .container {
        border-bottom: 1px solid #dcdcdc;
        @media (max-width: 991px) {
            padding-bottom: 30px;
        }
    }
}

#homeFeaturedProducts.module-wrapper .productCarousel,
#homeNewProducts.module-wrapper .productCarousel {
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    background: transparent;
    & .prod-item:not(:hover) {
        background: transparent;
    }
    @media (max-width: 991px) {
        margin-bottom: 0;
    }
}

.productCarousel {
    margin-bottom: 40px;
    background: #ffffff;
}

.productCarousel .owl-stage {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    & .owl-item {
        padding-top: 10px;
        padding-bottom: 10px;
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        align-content: stretch;
        align-items: stretch;
        & .prod-item {
            margin-bottom: 0;
            display: -webkit-box;
            /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;
            /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;
            /* TWEENER - IE 10 */
            display: -webkit-flex;
            /* NEW - Chrome */
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            align-content: stretch;
            align-items: stretch;
            width: 100%;
            & a.btnATC {
                right: -18px;
            }
            &::before {
                right: 1px;
            }
            @media (max-width: 991px) {
                padding: 0;
            }
        }
    }
}
