{{#partial "page"}}
{{#if settings.account_creation_enabled}}
<div class="container">
    <div class="login">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <!--<h1 class="page-heading">{{lang 'login.heading' }}</h1>-->
        {{#if forms.login.error}}
        {{> components/common/alert-error forms.login.error}}
        {{/if}}
        {{#if forms.login.success}}
        {{> components/common/alert-success forms.login.success}}
        {{/if}}
        <div class="login-row row">
            <div class="new-customer col-sm-6">
                <div class="panel">
                    <div class="panel-header">
                        <h2 class="panel-title new-customer-heading">{{lang 'login.new_customer.heading' }}</h2>
                    </div>
                    <div class="panel-body">
                        <!--<p class="new-customer-intro">{{lang 'login.new_customer.intro' }}<br><span>{{lang 'login.new_customer.intro_bold' }}</span></p>-->
                        <!--<ul class="new-customer-fact-list">-->
                        <!--<li class="new-customer-fact">{{lang 'login.new_customer.fact1' }}</li>-->
                        <!--<li class="new-customer-fact">{{lang 'login.new_customer.fact2' }}</li>-->
                        <!--<li class="new-customer-fact">{{lang 'login.new_customer.fact3' }}</li>-->
                        <!--<li class="new-customer-fact">{{lang 'login.new_customer.fact4' }}</li>-->
                        <!--<li class="new-customer-fact">{{lang 'login.new_customer.fact5' }}</li>-->
                        <!--</ul> -->
                        <!--<a href="{{urls.auth.create_account}}"><button class="btn btn-primary new-customer-button">{{lang 'login.new_customer.create_account' }}</button></a>-->
                        <p class="new-customer-intro"><a href="{{urls.auth.create_account}}">Create an account</a> with
                            us to remember your details and take advantage of our account management functions.</p>
                    </div>
                </div>
            </div>
            <form class="login-form form col-sm-6" action="{{urls.auth.check_login}}" method="post">
                <h2 class="panel-title new-customer-heading">Login</h2>
                <p class="new-customer-intro">If you have an account with us please login below.</p>
                <p class="messages-login">Not logged in.</p>
                <div class="form-field">
                    <label class="form-label" for="login_email">{{lang 'login.field_email'}}</label>
                    <input class="form-input" name="login_email" id="login_email" type="email">
                </div>
                <div class="form-field">
                    <label class="form-label" for="login_pass">{{lang 'login.field_password'}}</label>
                    <input class="form-input" id="login_pass" type="password" name="login_pass">
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="{{lang 'login.submit_value' }}">
                </div>
                <p>Forgotten your <a class="forgot-password" href="{{urls.auth.forgot_password}}">password?</a></p>
                <!--<a class="forgot-password" href="{{urls.auth.forgot_password}}">{{lang 'login.forgot_password'}}</a>-->
            </form>
        </div>
    </div>
</div>
{{/if}}
{{/partial}}
{{> layout/base}}
