// =============================================================================
// LOGIN (CSS)
// =============================================================================


.login-row {
  padding-top: 25px;
}

.login-form {
  .form-actions {
    text-align: left;

    input.btn, a.forgot-password {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.new-customer {
  & .panel {
    //background: whitesmoke;
    border-radius: 3px;
  }

  & .panel-header {
    background: transparent;
    padding-top: 0;
  }

  & .panel-body {
    background: transparent;
    padding: 1rem 2rem 2rem;

    .new-customer-intro {
      margin-top: 1rem;
      margin-bottom: 4rem;

      span {
        font-weight: bold;
      }
    }
  }
}

.new-customer-intro {
  margin-bottom: 0;
}

.new-customer-fact-list {
  margin-left: spacing("base");
}

.new-customer-fact {
  padding-left: spacing("half");
}


.login-form {
  border-left: 1px solid #cecece;

  p {
    padding: 0;
  }

  .new-customer-intro {
    padding-bottom: 10px;
    padding-top: 2rem;
  }

  .messages-login {
    color: red;
    font-weight: bold;
  }

  .form-field {
    max-width: 300px;
    height: 24px;
    padding: 0;
    position: relative;
    margin-bottom: 8px;
  }

  .form-label, .form-input {
    height: inherit;
    line-height: 24px;
  }

  .form-label {
    width: 33%;
    float: left;
    color: #07719d;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
  }

  .form-input {
    width: 67%;
    border-radius: 0;
  }

  .form-inlineMessage {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 0;
    left: 103%;
    margin: 0;
    line-height: normal;
  }

  .form-actions {
    max-width: 300px;
    margin: 0 0 15px 0;

    input {
      margin: 0 0 0 33%;
      background: #83B81A;
      border-radius: 0;
      border: none;
      width: auto;
      padding: 13px 24px;
      height: auto;
    }
  }
}

@media (max-width: 767px) {
  .login-form {
    border-left: none;
  }
  .login-row {
    .panel-header, .panel-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
