<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        <meta name="google-site-verification" content="OYEqtE9y5Pnbo1B1KXUkHy7s8mfK1Rc3xnNnLP_3vDA" />
        <!--NZ Redirect-->
        <script>
            var geotargetlyredirect1518653413908 = document.createElement('script');
            geotargetlyredirect1518653413908.setAttribute('type', 'text/javascript');
            geotargetlyredirect1518653413908.async = 1;
            geotargetlyredirect1518653413908.setAttribute('src', '//geotargetly-1a441.appspot.com/georedirect?id=-L5Ln0ZNptWAsKqYpjXF&refurl=' + document.referrer);
            document.getElementsByTagName('head')[0].appendChild(geotargetlyredirect1518653413908);
        </script>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'            
                }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-KGG58ZX');
        </script>
        <!-- End Google Tag Manager -->
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous">

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <!-- <script>
        var geolifygeoredirect = document.createElement('script')
        geolifygeoredirect.setAttribute('type','text/javascript')
        geolifygeoredirect.async = 1
        geolifygeoredirect.setAttribute('src', '//www.geolify.com/georedirectv2.php?id=35657&refurl='+document.referrer)
        document.getElementsByTagName('head')[0].appendChild(geolifygeoredirect)
    </script> -->
   
    <script src="https://js.braintreegateway.com/web/3.32.1/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.32.1/js/data-collector.min.js"></script>
    <script>
        braintree.client.create({
                authorization: 'CLIENT_AUTHORIZATION'
            }, function (err, clientInstance) {
                // Creation of any other components...
                // Inside of your client create callback...
                braintree.dataCollector.create({
                    client: clientInstance,
                    kount: true
                }, function (err, dataCollectorInstance) {
                    if (err) {
                        // Handle error in data collector creation
                        return;
                    }
                    var form = document.getElementById('my-form-id');
                    var deviceDataInput = form['device_data'];

                    if (deviceDataInput == null) {
                        deviceDataInput = document.createElement('input');
                        deviceDataInput.name = 'device_data';
                        deviceDataInput.type = 'hidden';
                        form.appendChild(deviceDataInput);
                    }

                    deviceDataInput.value = dataCollectorInstance.deviceData;
                });

                braintree.dataCollector.create({
                    client: clientInstance,
                    kount: true
                }, function (err, dataCollectorInstance) {
                    if (err) {
                        // Handle error in creation of data collector
                        return;
                    }
                    // At this point, you should access the dataCollectorInstance.deviceData value and provide it
                    // to your server, e.g. by injecting it into your form as a hidden input.
                    var deviceData = dataCollectorInstance.deviceData;
                });
            });

    </script>

    
    <body class="page-type-{{page_type}}">
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGG58ZX" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="st-container" class="st-container">
            <!-- content push wrapper -->
            <div class="st-pusher">
                <nav class="st-menu st-effect st-effect-1" id="mobile-categories">
                    <ul class="bach"></ul>
                </nav>
                <nav class="st-menu st-effect st-effect-2" id="mobile-customer">
                    <ul>
                        {{#if settings.account_creation_enabled}}
                        <li class="login-register">
                            {{#if customer}}
                                <div class="logged-in">{{lang 'Welcome back,'}} <strong>{{customer.name}}. </strong></div>
                            {{else}}
                                <div class="not-logged">
                                    <a href="{{urls.auth.login}}">{{lang 'common.login'}}</a><a href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                                </div>
                            {{/if}}
                        </li>
                        {{/if}}

                        {{#if customer.store_credit.value '>' 0}}
                        <li class="hasSub">
                            <a class="navUser-action--storeCredit">
                                {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                            </a>
                            <span class="toggle-expand"></span>
                            <div id="storeCredit-dropdown">
                                <div class="alert alert-info">
                                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                                </div>
                            </div>
                        </li>
                        {{/if}}

                        {{#if settings.gift_certificates_enabled}}
                        <li>
                            <a href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
                        </li>
                        {{/if}}

                        {{#if customer}}
                        <li><a href="{{urls.account.index}}">{{lang 'common.account'}}</a></li>
                        <li><a href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a></li>
                        {{#if settings.returns_enabled}}
                        <li><a href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a></li>
                        {{/if}}
                        <li><a href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a></li>
                        <li><a href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a></li>
                        {{#if settings.show_wishlist}}
                        <li><a href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a></li>
                        {{/if}}
                        <li><a href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a></li>
                        <li><a href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a></li>
                        {{else}}
                        <li><a href="{{urls.account.index}}">{{lang 'common.account'}}</a></li>
                        {{/if}}

                        {{#if customer}}
                        <li><a href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a></li>
                        {{/if}}

                        <li class="mobile-call-us">{{> components/halothemes/header-phone-number}}</li>
                    </ul>
                </nav>
                {{{snippet 'header'}}}
                <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

                {{#if settings.privacy_cookie}}
                    {{> components/common/cookie}}
                {{/if}}

                {{> components/common/header }}
                {{> components/common/body }}
                {{> components/common/footer }}

                <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
                <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
                <script src="{{cdn '/assets/modernizr-custom.js'}}"></script>

                <script>
                    // Exported in app.js
                    window.stencilBootstrap("{{template_file}}", {{jsContext}}).load();
                </script>

                {{#if theme_settings.halothemes_megamenu}}
                    <!-- Begin HaloThemes MegaMenu -->
                    {{> components/halothemes/halo-megamenu }}
                    <!-- End HaloThemes MegaMenu -->
                {{/if}}

                <script>
                $(document).ready(function() {
                    $('#mobile-categories ul').prepend($('#menu.navPages-container > nav > ul').html());
                    $('#mobile-categories ul').css('max-height', screen.height);
                    $('#mobile-categories ul li').has('ul li').addClass('hasSub').prepend('<span class="toggle-expand"></span>');

                    $('#mobile-categories ul li.hasSub > span').click(function() {
                       if ($(this).hasClass('toggle-expand')) {
                           $(this).siblings('.subMegaMenu').addClass('sub-expand');
                           $(this).parent().addClass('expanded');
                           $(this).attr('class', 'toggle-close');
                       } else if ($(this).hasClass('toggle-close')) {
                           $(this).siblings('.subMegaMenu').removeClass('sub-expand');
                           $(this).parent().removeClass('expanded');
                           $(this).attr('class', 'toggle-expand');
                       }
                    });
                });
                </script>

                <script>

                {{#if theme_settings.halothemes_sticky_navigation}}
                    //Sticky Navigation
                    window.stickyNavigation();
                {{/if}}

                {{#if theme_settings.halothemes_lazy_loading_effect}}
                    //Lazy Loading Effect
                    window.lazyLoadingEffect();
                {{/if}}

                </script>
                 {{#if theme_settings.halothemes_newsletter_popup}} 
                 {{> components/halothemes/newsletter-popup}} 
                 {{/if}} 
                {{#if theme_settings.halothemes_newsletter_popup}}
                    <!-- BEGIN Halo Newsletter Popup -->
                    <script>
                        window.haloNewsletterPopup(1, true);
                    </script>
                {{else}}
                    <script>
                        window.haloNewsletterPopup(1, false);
                    </script>
                    <!-- END Halo Newsletter Popup -->
                {{/if}}

                {{#if settings.show_newsletter_box}}
                <!-- BEGIN Footer SubscribeForm Validate -->
                <script>
                $(document).ready(function(){
                    $('#footerSubcribeFormSubmit').submit(function(event){
                        if ($('#footerSubcribeFormSubmit').find('#nl_first_name').val()  == "") {
                          alert("Please enter your Name!");
                          $('#footerSubcribeFormSubmit').find('#nl_first_name').focus();
                          return false;
                       } else if ($('#footerSubcribeFormSubmit').find('#nl_email').val()  == "") {
                          alert("Please enter a valid email address, such as john@example.com.");
                          $('#footerSubcribeFormSubmit').find('#nl_email').focus();
                          return false;
                       }

                    });
                });
                </script>
                <!-- END Footer SubscribeForm Validate -->
                {{/if}}

                {{{footer.scripts}}}
                {{{snippet 'footer'}}}

                {{#if theme_settings.halo_ask_an_expert}}
                    <!-- BEGIN ASK AN EXPERT POPUP -->
                    {{> components/halothemes/halo-ask-an-expert}}
                    <!-- END ASK AN EXPERT POPUP -->
                {{/if}}
            </div>
        </div>
    </body>
</html>
