<section class="productCarousel owl-carousel"
    data-owl='{
        "nav": true,
        "dots": false,
        "items": {{columns}},
        "margin": 30,
        "slideBy": {{columns}},
        "responsive": {
         "0": {
            "items": 1,
            "slideBy": 1
         },
         "480": {
            "items": 1,
            "slideBy": 1
         },
         "641": {
            "items": 1,
            "slideBy": 1
         },
         "768": {
            "items": 2,
            "slideBy": 2
         },
         "992": {
            "items": 4,
            "slideBy": 4,
            "margin": 0
         },
         "1200": {
            "items": {{columns}},
            "slideBy": {{columns}},
            "margin": 0
         }
      },
      "responsiveRefreshRate": 0
    }'>
    {{#each products}}
    <div class="prod-item wow fadeIn" data-wow-delay="{{@index}}ms">
        {{> components/products/card theme_settings=../theme_settings customer=../customer}}
    </div>
    {{/each}}
</section>
