<div id="homeFeaturedProducts" class="module-wrapper wow fadeIn">
  <div class="container">
      <h2 class="module-heading pull-left"><span>{{lang 'products.featured'}}</span></h2>
      <div class="clearfix"></div>
      {{> components/products/carousel products=products}}
   </div>
</div>
