<div class="featuredProducts">
    <div class="relative-wrap">
        <div class="container">
            <div>
                <h2 class="module-heading pull-left">Featured Products</h2>
            </div>
            <div class="featuredProducts-wrap">
                {{#each products}}
                <div class="prod-item wow fadeIn" data-wow-delay="{{@index}}ms">
                    {{> components/products/card theme_settings=../theme_settings customer=../customer}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
