<div class="module-wrapper">
   <div class="productBlockContainer columns-{{columns}}">
       {{#each products}}
       <div class="prod-item wow fadeIn" data-wow-delay="{{@index}}ms">
           {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}}
       </div>
       {{/each}}
   </div>
</div>
