{{#if reviews.total}}
<section class="toggle productReviews" id="product-reviews" data-accordion-item data-product-reviews>
    <h3 class="toggle-title">
        {{lang 'products.reviews.header' total=reviews.total}}
        <i class="fa fa-angle-down"></i>
    </h3>

    <div class="toggle-content" id="productReviews-content">
        <ul class="productReviews-list" id="productReviews-list">
            {{#each reviews.list}}
            <li class="productReview">
                <article itemprop="review" itemscope itemtype="http://schema.org/Review">
                    <header>
                        <h5 itemprop="name" class="productReview-title">{{ title }}</h5>
                        <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            {{> components/products/ratings rating=rating}}
                            <span class="productReview-ratingNumber" itemprop="ratingValue">{{ rating }}</span>
                        </span>
                        {{#if name}}
                        <meta itemprop="author" content="{{name}}">
                        <p class="productReview-author">
                            {{lang 'products.reviews.post_on_by' date=date name=name }}
                        </p>
                        {{else}}
                        <p class="productReview-author">
                            {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                        </p>
                        {{/if}}
                    </header>
                    <p itemprop="reviewBody" class="productReview-body">{{nl2br text}}</p>
                </article>
            </li>
            {{/each}}
        </ul>

        {{#if reviews.total '>' theme_settings.productpage_reviews_count}} {{> components/common/paginator pagination.reviews}} {{/if}}

        <a class="btn btn-alt" href="#" data-reveal-id="modal-review-form">{{lang 'products.reviews.write_a_review'}}</a>

    </div>

</section>
{{else}}
<section class="toggle productReviews" id="product-reviews" data-accordion-item data-product-reviews>
    <h3 class="toggle-title">
        {{lang 'products.reviews.header' total=reviews.total}}
        <i class="fa fa-angle-down"></i>
    </h3>
    <div class="toggle-content text-center" id="productReviews-content">
        <div class="alert alert-warning">
            {{lang 'halothemes.no_reviews_yet'}}
        </div>

        <a class="btn btn-alt" href="#" data-reveal-id="modal-review-form">{{lang 'products.reviews.write_a_review'}}</a>
    </div>
</section>
{{/if}} {{{snippet 'reviews'}}}
