<div id="homeNewProducts" class="module-wrapper wow fadeIn">
   <div class="container">
      <h2 class="module-heading"><span>{{lang 'products.new' }}</span></h2>
      <p class="sub-module-heading">Suspendisse miaculis placerat sapien at comodous loremous</p>
      {{> components/products/carousel products=products}}
   </div>
</div>
