<section class="productCarousel owl-carousel"
    data-owl='{
        "nav": true,
        "dots": false,
        "items": 4,
        "margin": 30,
        "slideBy": 4,
        "responsive": {
         "0": {
            "items": 2,
            "slideBy": 2
         },
         "480": {
            "items": 2,
            "slideBy": 2
         },
         "641": {
            "items": 3,
            "slideBy": 3
         },
         "768": {
            "items": 3,
            "slideBy": 3
         },
         "992": {
            "items": 2,
            "slideBy": 2,
            "margin": 0
         },
         "1200": {
            "items": 4,
            "slideBy": 4,
            "margin": 0
         }
      },
      "responsiveRefreshRate": 0
    }'>
    {{#each products}}
    <div class="prod-item">
        {{> components/products/card theme_settings=../theme_settings customer=../customer}}
    </div>
    {{/each}}
</section>
