<div class="description-tabs">
    <ul class="tabs" data-tab role="tablist">
        <li class="tab is-active" role="presentational">
            <a class="tab-title" href="#tab-related" role="tab"  aria-selected="true" controls="tab-related">{{lang 'products.description'}}</a>
        </li>
        <li class="tab" role="presentational">
            <a class="tab-title" href="#tab-similar" role="tab"  aria-selected="false" controls="tab-similar">Reviews</a>
        </li>
        <li class="tab" role="presentational">
            <a class="tab-title" href="#tab-shipping" role="tab"  aria-selected="false" controls="tab-shipping">Shipping & Returns</a>
        </li>
    </ul>

    <div class="tabs-contents">
        <div role="tabpanel" aria-hidden="false" class="tab-content has-jsContent is-active" id="tab-related">
            {{{product.description}}} {{{snippet 'product_description'}}} {{#if product.tags.length}}
            <ul class="product-tags">
                {{#each product.tags}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
        <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent{{#unless product.related_products}} is-active{{/unless}}"
            id="tab-similar">
            {{> components/products/reviews-tab reviews=product.reviews product=product urls=urls}}
        </div>
        <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent{{#unless product.related_products}} is-active{{/unless}}"
            id="tab-shipping">
            <p>
                <strong>
                    <h5>Returns Policy</h5>
                </strong>
                <br>
                <span>
                    <h4>30-Day Refund</h4>
                </span>
                <span>We are absolutely committed to making sure you're happy with your purchase. You can return any product purchased
                    from splashdive.com.au in an unused, brand new condition within 30 days of the date of the purchase and
                    we will refund your money back. Please advise us by email and include a printout of your original invoice
                    if you return a product to us.</span>
                <br>
                <br>
                <span>
                    <h4>Perfect Fit Guarantee</h4>
                </span>
                <span>Please use our indicative sizing guides which show height and weight ranges and other measurements to choose
                    your size. If you have any queries about size, you can advise us when you complete your purchase in the
                    comments field. We will contact you and make sure we're sending you the best possible size. If you receive
                    an item and it doesn't fit to your satisfaction, you can return it to us in an unused, brand new condition
                    and we will send another size free of charge. Please advise us by email and include a printout of your
                    original invoice if you return a product to us.</span>
                <br>
                <br>
                <strong>
                    <h5>Shipping</h5>
                </strong>

                <span>Once your payment has cleared, your order will be packed and dispatched within our 48-hour guarantee.</span>
                <br>
                <br>
                <span>
                    <h4>How long will it take to get my order to me?</h4>
                </span>
                <span>New Zealand: We use tracked local Couriers for 1-3 days delivery anywhere in New Zealand.</span>
                <br>
                <span>Australia: We use tracked International EMS Post for 3-10 days delivery anywhere in Australia.</span>
                <br>
                <span>Rest of World: We use tracked International EMS Post for 10-15 days delivery anywhere in the World including the United States.</span>
            </p>
        </div>
    </div>
</div>
